<v-container grid-list-md>
    <v-card>
        <v-card-title>
                <span class="headline">Текущие остатки портфеля</span>
        </v-card-title>
        <v-card-text>
                Перечислите все ценные бумаги и денежные остатки в составе портфеля.
                Старайтесь указывать верную дату и цену покупки бумаг - это повысит точность расчетов.
        </v-card-text>
    </v-card>
    <v-card>
        <v-card-title>
            <span class="title">Добавить ценную бумагу</span>
        </v-card-title>
        <v-card-text>
            <v-flex >
                <v-autocomplete v-model="share"
                                label="Тикер | Название ценной бумаги"
                                append-icon="fas fa-building"
                                cache-items
                                clearable
                                dense
                                name="share"
                                required
                                :error-messages="errors.collect('share')"
                                :hide-no-data="true"
                                :items="filteredShares"
                                :loading="shareSearch"
                                :no-data-text="notFoundLabel"
                                :no-filter="true"
                                :search-input.sync="searchQuery">
                    <template slot="selection" slot-scope="data">
                        {{ shareLabelSelected(data.item) }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ shareLabelListItem(data.item) }}
                    </template>
                </v-autocomplete>
            </v-flex>
            <v-flex>
                <v-menu v-model="dateMenuValue"
                        ref="dateMenu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                >
                    <v-text-field  v-model="date"
                                    slot="activator"
                                    label="Дата покупки"
                                    required
                                    append-icon="event"
                                    readonly
                    ></v-text-field>
                    <v-date-picker v-model="date"
                                    locale="ru"
                                    :no-title="true"
                                    :first-day-of-week="1"
                                    @input="$refs.dateMenu.save(date)"
                    ></v-date-picker>
                </v-menu>
            </v-flex>
            <v-flex>
                TODO: Цена закрытия
            </v-flex>
            <v-flex>
                Укажите среднюю цену покупки или стоимость позиции
                <v-text-field v-mask="priceMask"
                                v-model="price"
                                v-validate="'required'"
                                append-icon="fas fa-money-bill-alt"
                                label="Цена акции"
                                name="price"
                                :error-messages="errors.collect('price')"
                                @keyup="calculateTotal"
                ></v-text-field>
            </v-flex>
            <v-flex>
                <v-text-field v-model="quantity"
                                v-validate="'required'"
                                append-icon="fas fa-plus"
                                label="Количество"
                                name="quantity"
                                :error-messages="errors.collect('quantity')"
                                @keyup="calculateTotal"
                ></v-text-field>
                <v-text-field v-model="total"
                                v-validate="'required'"
                                append-icon="fas fa-money-bill-alt"
                                label="Стоимость позиции"
                                name="total"
                                :error-messages="errors.collect('total')"
                                @change="calculatePrice"
                ></v-text-field>
            </v-flex>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary" dark
                    :loading="processState" :disabled="processState"
                    @click.native="addTrade(AssetType.STOCK)"
            >
                Добавить
                <span slot="loader" class="custom-loader">
                    <v-icon light>fas fa-spinner fa-spin</v-icon>
                </span>
            </v-btn>
        </v-card-actions>
    </v-card>
    <v-card>
        <v-card-title>
                <span class="title">Добавить остатки денежных средств</span>
        </v-card-title>
        <v-card-text>
            <v-flex xs12>
                <v-layout wrap>
                    <v-flex xs12 lg8>
                        <v-text-field v-model="moneyAmount"
                                        append-icon="fas fa-money-bill-alt"
                                        label="Сумма" 
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12 lg4>
                        <v-select v-model="moneyCurrency"
                                    label="Валюта сделки"
                                    :items="currencyList"></v-select>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary" dark
                    :loading="processState" :disabled="processState"
                    @click.native="addTrade(AssetType.MONEY)"
            >
                Добавить
                <span slot="loader" class="custom-loader">
                    <v-icon light>fas fa-spinner fa-spin</v-icon>
                </span>
            </v-btn>
        </v-card-actions>
    </v-card>
</v-container>