//
// Подключение переменных.

// Colors
$main-color-1: #ffd66e;
$main-color-2: #1f83c8;

// Элементы формы ======================================================================================================

$form-element--height: 40px;
$form-element--border-radius: 4px;

// Выпадающие списки ===================================================================================================

$dropdown--box-shadow:  0 3px 6px 0 rgba(0,0,0,.15);

// Цвет фона страницы
$body--background-color: #f1f3f6;

// Цвета боковой панели
$sidebar-active-link-color: #040427;
$sidebar-not-active-link-color: #A1A6B6;
$sidebar-hr-color: #E8E9ED;
$sidebar-blue-color: #3B6EC9;
