body {
  user-select: none;
  font-family: $main--font-family;
  font-size: $font-size;
  line-height: normal;
}

.selectable {
  user-select: text;
}

input[type="search"] {
  -webkit-appearance: none;
}

.highcharts-credits {
  display: none;
}

// Отступы =============================================================================================================

.margTAuto {margin-top: auto}
.margT0 {margin-top: 0 !important}
.margT4 {margin-top: 4px}
.margT10 {margin-top: 10px}
.margT12 {margin-top: 12px}
.margT14 {margin-top: 14px}
.margT16 {margin-top: 16px}
.margT20 {margin-top: 20px !important}
.margT24 {margin-top: 24px !important}
.margT30 {margin-top: 30px}
.margT32 {margin-top: 32px}
.margT40 {margin-top: 40px}
.margT50 {margin-top: 50px}
.margT70 {margin-top: 70px}

.margLA {margin-left: auto}
.margL8 {margin-left: 8px !important}
.margL12 {margin-left: 12px !important}
.margL16 {margin-left: 16px !important}
.margL24 {margin-left: 24px !important}

.margRAuto {margin-right: auto}
.margR8 {margin-right: 8px}
.margR12 {margin-right: 12px !important;}
.margR16 {margin-right: 16px}
.margR28 {margin-right: 28px}
.margR60 {margin-right: 60px}
.margR100 {margin-right: 100px}

.margB8 {margin-bottom: 8px !important}
.margB16 {margin-bottom: 16px !important}
.margB20 {margin-bottom: 20px}
.margB24 {margin-bottom: 24px}
.margB30 {margin-bottom: 30px}
.margB32 {margin-bottom: 32px}
.margB35 {margin-bottom: 35px !important}
.margB64 {margin-bottom: 64px}

// Паддинги =============================================================================================================

.paddT0 {padding-top: 0 !important}
.paddL0 {padding-left: 0 !important}
.paddB0 {padding-bottom: 0 !important}
.paddB128 {padding-bottom: 128px}

// Высота ==============================================================================================================

.h100pc {height: 100%}
.h40 {height: 40px}

// Ширина ==============================================================================================================

.maxW778 {max-width: 778px}
.maxW520 {max-width: 520px}
.maxW275 {max-width: 275px}
.maxW50 {max-width: 50% !important}
.maxW500 {max-width: 500px !important}
.maxW1100 {max-width: 1100px !important}
.maxW0 {max-width: 0}
.w100pc {width: 100%}
.w33pc {width: 33.3%}
.w25pc {width: 25%}
.w20pc {width: 20%}
.w10pc {width: 10%}
.mw640 {max-width: 640px}
.mw540 {max-width: 540px}
.mw520 {max-width: 520px}
.mw378 {max-width: 378px}
.mw320 {max-width: 320px}
.mw218 {max-width: 218px}
.w506 {width: 506px}
.w470 {width: 470px}
.w275 {width: 275px !important;}
.w250 {width: 250px}
.w200 {width: 200px}
.w140 {width: 140px}
.w180 {width: 180px}
.w100 {width: 100px;}
.w90 {width: 90%}
.w80 {width: 80%}
.w70 {width: 70%}
.w60 {width: 60%}
.w50 {width: 50%}
.w45 {width: 45%}
.w40 {width: 40%}
.w30 {width: 30%}

// flex ================================================================================================================
.flex0 {
  flex: 0 !important;
}

.flexN {flex: none}

// ===============================

// Троеточие в конце неумещающегося текста (слова не переносятся)
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bold {font-weight: bold}

.underline {text-decoration: underline;}
.decorationNone {text-decoration: none;}


// Форматирование текста ===============================================================================================

.alignR {text-align: right}
.alignC {text-align: center}
.alignL {text-align: left}

.breakWord {word-wrap: break-word !important}


// Размер текста =======================================================================================================

.fs36 {
  font-size: 36px;
  line-height: 58px;
  letter-spacing: 0.2px;
  color: $theme-color-dark-blue;
}

.fs24 {font-size: 24px}

.fs18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #040427;
}

.fs16 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.fs14 {
  font-size: 14px;
  line-height: 24px;
  color: $theme-color-dark-blue;
}

.fs13 {
  font-size: 13px;
  line-height: 18px;
  color: $theme-color-dark-blue;
}

.fs12 {
  font-size: 12px !important;
  line-height: 12px !important;
}

.fs12-opacity {
  font-size: 12px;
  line-height: 12px;
  color: #3d4656;
  opacity: .54;
}

.fs12-non-opacity {
  font-size: 12px;
  color: #a3a7b4;
}

.fs0 {font-size: 0}

// Другое ==============================================================================================================

.block {display: block !important}
.floatR {float: right !important}
.overflowV {overflow: visible}
.overflowXA {overflow-x: auto}
.required label::after {content: " *"}
.relative {position: relative}
.line-through {
  text-decoration: line-through;
}
.fb-0 {flex-basis: 0px !important}
.fg-0 {flex-grow: 0 !important}
.auto-cursor {cursor: auto !important}
.pointer-cursor {cursor: pointer !important}
.text-nowrap {white-space: nowrap}
.bg-white {background: #ffffff !important}
.zi-102 {z-index: 102 !important}
.initial-flex {flex: initial !important}
.rotate-icons {transform: rotate(90deg)}
.vAlignSuper {vertical-align: super !important;}
.lh36 {line-height: 36px !important;}