.add-notification {
  padding: 20px 30px 30px;
  font-size: 14px;
  
  &-title {
    padding: 0;
    font-size: 18px !important;
    margin-bottom: 28px;
    line-height: 1 !important;
    font-weight: bold;
  }

  .v-input__control {
    width: 100%;
  }

  .v-input__slot {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }
  
  &-conditional {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;

    > div {
      flex: none;
      width: calc(50% - 10px);

      + div {margin-left: 20px}
    }
  }

  label {font-size: 14px}

  .v-input--selection-controls {
    margin-top: 20px;
  }

  .v-input--is-label-active {
    label {
      color: $theme-color-dark-blue !important;
    }
  }

  .btn-group-right {
    margin-top: 52px;
    padding: 0;
  }

  .v-messages {min-height: 0}
}