.banner {
  font-family: "Gilroy Bold", sans-serif;
  display: flex;
  line-height: 1.5;
  border-radius: 6px;
  position: relative;
  padding: 24px 56px 32px 32px;

  &__content {margin-right: 16px;}

  .v-btn {
    font-family: "Open Sans", sans-serif;
    margin-top: 16px !important;
  }

  &__close {
    position: absolute;
    top: 16px !important;
    right: 16px !important;
    color: #B0B4C2 !important;
    font-size: 24px;
    cursor: pointer;

    &:hover {opacity: 0.8}
  }

  @media all and (max-width: $sm-breakpoint) {
    flex-direction: column;
    align-items: center;

    &__content {
      width: 100%;
      max-width: 300px;
      margin-right: 0;
      position: relative;
    }

    .banner__title {font-size: 18px !important;}

    .banner__description {font-size: 14px !important;}

    img {display: none}

    .v-btn {width: 100%}
  }
}

.sale-banner {
  background: #EFF2F8 url("../img/portfolio/sale-bg.png") no-repeat center right;
  font-size: 24px;
  color: $main--font-color;
  margin: 32px 0;
  align-items: center;

  .banner__close.theme--light.v-icon {color: #B0B4C2 !important;}

  .banner__title {font-size: 30px}

  .banner__description {font-size: 24px}

  .banner__content {
    flex: none;
    margin-right: 32px;
  }

  .banner__ny-code {
    @extend %center-elements;
    border: 1px solid #51545F;
    border-radius: 8px;
    margin-top: 8px;

    &_code {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
      width: 50%;
      background: #51545F url("../img/portfolio/ny-code-bg.svg") repeat;
      font-size: 24px;
      line-height: 28px;
      color: #fff;
      padding: 0 8px;
      align-self: stretch;
      border-radius: 6px 0 0 6px;
    }

    &_active {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: 50%;
      color: #51545F;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      padding: 0 8px;
      background: #eff2f8;
      position: relative;
      align-self: stretch;
      border-radius: 0 6px 6px 0;

      &:after {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        background: url("../img/portfolio/ny-code-after.svg") no-repeat;
        background-size: contain;
        right: -19px;
        top: -24px;
      }
    }
  }

  .banner__img {
    margin-top: -24px;
    margin-left: auto;
    height: 100%;
    align-self: stretch;
  }

  img {max-width: 100%}

  @media all and (max-width: $sm-breakpoint){
    background: #EFF2F8;
    padding: 16px 12px 12px;

    .banner__content {
      margin-right: 0;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 42px;
        top: -16px;
        right: 28px;
        background: url("../img/portfolio/sale-img-mobile.svg") no-repeat center right 12px;
      }
    }

    .banner__img {display: none}
  }
}

.gift-banner {
  background: #F0F3F8;
  margin: 4px 0 24px;

  .banner__title,
  .banner__description {font-size: 17px}

  .banner__title {margin-bottom: 8px}

  .banner__img {
    max-width: 295px;
    margin: -52px 0 -32px;
  }

  img {max-width: 100%}

  @media all and (max-width: $sm-breakpoint) {
    padding: 40px 20px 24px;
    margin-top: 20px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      left: 10px;
      top: -22px;
      background: url("../img/portfolio/gift-img-mobile.png") no-repeat center;
      background-size: contain;
    }

    &:after {left: 58px}

    .banner__img {display: none}
  }
}