.btn {
  &-dialog {
    font-family: "Open Sans Bold";
    font-size: 13px;
    padding: 10px 25px;
    height: auto;
    margin: 0;
    background-color: #fff !important;
    border: 1px solid #96a5be;
    box-shadow: none !important;
    text-transform: initial !important;

    &:hover {
      color: #fff;
      background-color: $main-color-2 !important;
    }
  }
  
  &-cancel {
    padding: 11px;
    height: auto;
    background-color: #fff !important;
    box-shadow: none !important;
    cursor: pointer;
    text-transform: initial !important;

    &:before {
      background-color: #fff!important;
    }
  }

  &-hover-black:hover {
    background-color: #000 !important;
  }
}