.change-password-d {
  padding: 20px 40px 30px;

  .v-card__actions {
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  &-title {
    padding: 0;
    font-size: 18px !important;
    margin-bottom: 28px;
    line-height: 1 !important;
    font-weight: bold;
  }

  &-text {
    padding: 0;
  }

  &-label {
    padding-top: 7px;
    font-family: $main--font-family;
    font-size: 16px;
  }

  &-input {
    margin-top: 16px !important;

    label {
      font-size: 14px;
    }
  }

  .v-messages__message {
    line-height: 1.4;
  }
}