.control-portfolios-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #040427;
    padding-left: 24px;
}

.control-portfolios__btns {
  @media only screen and (max-width: $sm-breakpoint) {
    .btn {
      min-width: 140px;
      margin-bottom: 8px !important;
    }
  }
}

.composite-dialog {
    .action-btn {
        padding: 80px 30px 30px 0px;
    }
    .choose-currency {
        padding: 30px 0px 0px 21px;
        &__description {
            font-size: 12px;
            color: #A1A6B6;
            line-height: 16px;
        }
    }
    .v-label {
        color: #3D4656 !important;
    }
    .speaker-settings-content {
        padding: 16px 20px;
    }


  @media only screen and (max-width: $sm-breakpoint) {

    &.scroll-dialog  .action-btn {padding: 16px 12px 12px}
  }
}
.empty-station {
    background: #FFFFFF;
    &__description {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #040427;
        max-width: 640px;
    }
}
/** Стили для фикса бага со скроллом */
.scroll-block {
    height: 55px;
}
