.dashboard {

  &-wrap {
    background-color: $dashboard--bg-color;
    box-shadow: 0 4px 7px rgba(4, 4, 39, 0.14);
    padding: 16px 20px 16px 30px;
    margin: 0 -4px;

    .arrow-up {color: $dashboard--green-color !important;}

    .arrow-down {color: $dashboard--red-color !important;}
  }

  &-card {
    background-color: inherit !important;
    box-shadow: none !important;
    height: 100%;
  }

  &-value {margin: 16px 0 0 !important}

  &-card-big-nums {
    font-family: $dashbord--big-num--font-family !important;
    font-weight: $dashbord--big-num--font-weight !important;
    font-size: $dashbord--big-num--font-size;
    color: $dashbord--big-num--font-color !important;
    line-height: 32px;
  }

  &-card-string {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    color: #fff;

    .v-tooltip {
      line-height: 0;
      margin-left: 10px;

      > span {
        font-size: 0;

        i {
          font-size: 13px !important;
          margin-left: 8px;
        }
      }
    }
  }

  &-card-small-nums {
    font-family: $dashbord--num--font-family !important;
    font-size: $dashbord--num--font-size !important;
    font-weight: $dashbord--num--font-weight !important;
    margin: 2px 0 0 !important;
    line-height: 28px;

    &__description {text-align: left}

    @media only screen and (max-width: $sm-breakpoint) {
      &__description {font-size: 14px !important;}
    }

    @media only screen and (max-width: $xs-breakpoint) {
      justify-content: flex-end;

      &__description {text-align: right}
    }
  }

  &-second-value-desc {
    font-family: $table--title--font-family !important;
    font-size: 12px !important;
    color: $dashbord--num--font-color !important;
  }

  &-summary-income {
    display: flex;
    align-items: center;

    &-icon {
      @extend %center-elements;
      border-radius: 50%;
      width: 28px;
      height: 28px;

      i {
        font-size: 20px;
        font-weight: bold;
      }
    }

    &.arrow-up &-icon {
      background-color: rgba($dashboard--green-color, 0.2);

      i {color: $dashboard--green-color !important;}
    }

    &.arrow-down &-icon {
      background-color: rgba($dashboard--red-color, 0.2);

      i {color: $dashboard--red-color !important;}
    }

    &-text {
      margin-left: 12px;
      font-size: 16px;
      font-family: 'Gilroy Semibold', sans-serif;
    }

    &.arrow-up &-text {color: $dashboard--green-color !important}
    &.arrow-down &-text {color: $dashboard--red-color !important}
  }
}

.dashboard-wrap {

  .dashboard-item {
    position: relative;
    padding: 0 18px !important;

    + .dashboard-item {border-left: 1px solid rgba(#fff, 0.2)}

    .icon-stock {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    @media only screen and (max-width: $sm-breakpoint) {

      .v-card__title {padding-top: 0}

      .icon-stock {top: 12px}
    }
  }

  @media(max-width: $md-breakpoint) {
    .dashboard-item {
      padding-top: 16px !important;

      & + .dashboard-item {border-left: none;}
    }
  }

  @media only screen and (max-width: $xs-breakpoint) {
    padding: 0 0 6px !important;

    .dashboard-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding: 16px 0 16px !important;
      margin: 0 16px;

      &:last-child {border-bottom: none}

      .dashboard-card {
        display: flex;
        align-items: flex-start;

        .container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0 !important;

          > .layout {padding: 0 !important;}

          .dashboard-currency {
            flex-direction: row-reverse;

            > div:first-child {margin-left: 8px}
          }
        }

        .dashboard-card-string {
          flex: none;
          margin-right: 8px;
        }

        .dashboard-card__info {margin: -8px 0 0 auto}

        .dashboard-value {
          margin-top: 0 !important;
          justify-content: flex-end;
        }
      }

      .icon-stock {
        left: 0;
        bottom: 16px;
        top: auto;
        right: auto;
      }
    }
  }
}

.negative-balance-notification {
  background: #FFFFFF;
  padding: 12px 35px 19px;
  .description {
    margin-top: 7px;
  }
  .btn-action-section {
    max-width: 321px;
    button {
      margin-top: 7px !important;
    }
  }
}
