.dashboard {

  &-wrap {
    background-color: $dashboard--bg-color;
    box-shadow: 0 4px 7px rgba(4, 4, 39, 0.14);
  }

  &-card {
    background-color: inherit !important;
    box-shadow: none !important;
    height: 100%;
  }

  &-card-big-nums {
    font-family: $dashbord--big-num--font-family !important;
    font-weight: $dashbord--big-num--font-weight !important;
    font-size: $dashbord--big-num--font-size;
    color: $dashbord--big-num--font-color !important;
  }

  &-card-string {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #fff;

    .v-tooltip {
      > span {
        font-size: 0;

        i {
          font-size: 13px !important;
          margin-left: 8px;
        }
      }
    }
  }

  &-card-small-nums {
    font-family: $dashbord--num--font-family !important;
    font-size: $dashbord--num--font-size !important;
    font-weight: $dashbord--num--font-weight !important;

    @media only screen and (max-width: $sm-breakpoint) {text-align: left}
  }

  &-second-value-desc {
    font-family: $table--title--font-family !important;
    font-size: 12px !important;
    color: $dashbord--num--font-color !important;
  }

  &-summary-income {
    display: flex;
    align-items: center;

    &-icon {
      background-color: $dashbord--icon-circle--color;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
        font-weight: bold;
      }

    }
    &.arrow-up &-icon i {
      color: $dashboard--green-color !important;
    }
    &.arrow-down &-icon i {
      color: $dashboard--red-color !important;
    }

    &-text {
      margin-left: 12px;
      font-size: 16px;
      font-family: 'Gilroy Semibold';
    }

    &.arrow-up &-text {
      color: $dashboard--green-color !important;
    }
    &.arrow-down &-text {
      color: $dashboard--red-color !important;
    }
  }

  &-border {
    border-left: 1px solid #fff;

    @media(max-width: $md-breakpoint) {
      border-left: none;
    }
  }
}
.dashboard-wrap {
  .dashboard-item {
    &:first-child {
      .dashboard-card {
        filter: blur(0px) !important;
      }
    }
    @media only screen and (max-width: $sm-breakpoint) {
      .v-card__title {padding-top: 0}
    }
  }

  .arrow-up {color: $dashboard--green-color !important;}

  .arrow-down {color: $dashboard--red-color !important;}
}

.negative-balance-notification {
  background: #FFFFFF;
  padding: 12px 35px 19px;
  .description {
    margin-top: 7px;
  }
  .btn-action-section {
    max-width: 321px;
    button {
      margin-top: 7px !important;
    }
  }
}
