.closeDialog {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 15px!important;
}

.dialog-wrap {
  position: relative;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}