.exp-panel {
  position: relative;

  &-arrow {
    font-size: 35px;
    color: $non-active-table-th-color !important;
    
    &-margin {
      margin-right: 35px;
    }
  }
  

  &-list-tile {
    .v-list__tile {
      flex-direction: column;
      height: auto;
      padding: 0;
    }
    
    .v-list__tile__title {
      padding: 0 16px;
      margin: 5px 0;
      cursor: pointer;
    }
  }

  &-menu {
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 1px;
    i {
      color: $non-active-table-th-color !important;
    }
  }

  .exp-panel-attach {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    
    .v-menu__content {
      right: 24px;
      left: auto !important;
      top: 0 !important;
    }

    .v-list__tile {
      font-size: 14px;
      font-family: "Open Sans";
    }

    .v-list {
      padding: 0 !important;
    }
  }

  .v-expansion-panel__header {
    position: relative;
  }
}