// Компонент добавления файлов перетаскиванием

.file-drop-area {
  border-radius: $form-element--border-radius;
  border: 2px dashed #c9cdd0;

  &.drag-over {
    background-color: rgba(#ffd66e, .3);
  }
}