// Вложения
.attachments {
  margin-top: 16px;

  .attachments-file-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;

    &__content {
      font-size: 12px;
      color: #9FA5B9;
      text-align: center;
    }
  }

  .attachments__title {
    display: inline-block;
    font-weight: 500;
    background: url("../img/import/icon-download.svg") no-repeat center left;
    padding-left: 32px;
    font-size: 14px;
    color: #313E4F;
  }

  .attachments-hint {
    font-size: 12px;
    color: #b6bbbf;
    text-align: left;
    margin: 12px 0 32px;
  }

  .attach {
    display: flex;
    align-items: center;
    text-decoration: none;

    + .attach {margin-top: 16px}

    > div {
      display: inline-flex;
      position: relative;
      padding-left: 40px;

      &:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .icon-close {
      font-size: 20px;
      opacity: 0.5;
      margin-left: 5px;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    .attach__name {
      max-width: 182px;
      @extend .ellipsis;
    }
  }

  &__allowed-extensions {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: $sidebar-not-active-link-color;

    span {
      font-size: 14px;
      color: $theme-color-dark-blue;
    }

    &.withoutImportHistory {
      position: relative;
      text-align: right;
    }

    @media only screen and (max-width: $xs-breakpoint) {position: relative}
  }

  &-block {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    @media only screen and (max-width: $xs-breakpoint) {flex-direction: column}
  }
}

.attach-file {
  display: inline-block;
  border: 1px solid #E8E9ED;
  width: 260px;
  background: url("../img/import/icon-attach.svg") no-repeat left 12px center;
  padding: 12px 24px 12px 56px;
  border-radius: 4px;
  position: relative;
  margin: 0 12px 16px 0;

  &__name {font-size: 14px}

  &__size {
    font-size: 12px;
    color: $sidebar-not-active-link-color;
  }

  .v-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 14px;
  }
}