.import-dialog-wrapper {
    &__title {
        padding: 16px 0px 16px 32px;
        &-text {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.3px;
            color: #040427;
            font-weight: bold;
        }
    }
    &__description {
        padding: 0px 32px 21px 32px;
        &-text {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &__content {
        padding: 0px;
    }
    &__actions {
        padding-right: 30px;
        padding-bottom: 30px;
        .v-btn {
            padding: 0px 20px;
        }
    }
    &__error-table {
        thead {
            tr {
                th {
                    opacity: 0.48;
                    letter-spacing: 0.2px;
                    color: #4F5D75;
                    line-height: 16px;
                    font-size: 12px;
                }
            }
        }
    }
    .min-height-wrapper {
        min-height: 720px;
    }
}

// TODO: проверить все места и заменить на .dialog__element-centering
.import-general-error-wrapper {
    &__element-centering{
        max-width: 385px;
        margin: 0 auto;
        .v-card__title, .v-card__actions{
            justify-content: center;
        }
        .v-card__title {
            padding: 140px 0px 0px 0px;
        }
        .v-card__text {
            padding: 16px 10px 22px;
        }
        .v-card__actions {
            padding: 0px 0px 140px 0px;
        }
        .btn-section {
            text-align: center;
        }
        .currency-balances {
            .layout {
                align-items: center;
            }
        }
    }
}
.balance-text {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #A3A8AF;
}
.number-field-balance {
    margin: 26px 0px 10px 0px;
    input {
        padding: 4px 0px 4px 19px !important;
    }
    .v-text-field__suffix {
        padding-right: 16px;
    }
}
.amount-deals{
    font-weight: 600;
}
