.import-instructions {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: $theme-color-dark-blue;

  ul {margin: 16px 0;}

  &__gallery {
    $gallery-margin: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 12px;
    max-width: 1024px;

    > figure {
      height: 232px;
      margin: 0 $gallery-margin $gallery-margin 0;
      overflow: hidden;
      border: 1px solid $sidebar-hr-color;
      width: calc(50% - #{$gallery-margin} / 2);
      max-width: 492px;

      &:last-child {margin-right: 0}

      img {max-width: 100%}

      &:nth-child(even) {margin-right: 0}
      // стили для галереи из 3х изображений
      &:nth-last-child(n+3),
      &:nth-last-child(n+3) ~ * {
        width: calc(100% / 3 - #{$gallery-margin} * 2 / 3);
        max-width: 324px;

        &:nth-child(even) {margin-right: 12px}
      }
      // перекрываем размеры галереи с тремя изображениями
      &:nth-last-child(n+4),
      &:nth-last-child(n+4) ~ * {
        width: calc(50% - #{$gallery-margin} / 2);
        max-width: 492px;

        &:nth-child(even) {margin-right: 0}
      }

      @media only screen and (max-width: $sm-breakpoint) {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 0 12px !important;
      }
    }
  }
}

.import-default-text {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: $theme-color-dark-blue;
}

.alfa-line {
    border-top: 1px solid #CACED5;
    height: 1px;
    margin: 32px 0px 22px;
}
.import-default-text-margin-t {
    margin-top: 20px;
}
.image {
    margin: 16px 0px 23px;
}

.intel-invest-instruction {
    &__title {
        margin-bottom: 24px;
        &-values {
            font-size: 14px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 40px;
        }
    }
    &__format {
        border-top: 1px solid #E8E9ED;
        border-bottom: 1px solid #E8E9ED;
        text-align: center;
        margin-bottom: 23.5px;
        &-text {
            font-weight: 600;
            padding: 10.5px 0 11.5px;
        }
    }
    &__values {
        font-size: 14px;
        line-height: 26px;
        color: #000000;
        &-l-section{
            margin-top: 40px;
        }
        &-item {
            display: flex;
            &__title {
                width: 190px;
                font-weight: bold;
            }
        }
    }
    &__title-template {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #A1A6B6;
        margin: 12px 0px;
    }
    &__template {
        div {
            margin-bottom: 11px;
            a {
                text-decoration: none;
            }
        }
    }
    &__template-requirements {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
}

.tinkoff-instruction {
    &__title {
        a {
            text-decoration: none;
        }
    }
}