.inplace-custom-input {
  background: rgba(240, 243, 248, 0.5);
  border-radius: 4px;
  border-bottom: 2px solid #344155;
  display: flex;
  padding: 5px 5px 5px 20px;
  height: 60px;
  width: 247px;
  cursor: default;
  input {
    max-width: 160px;
    cursor: default;
    outline: none;
    font-size: 14px !important;
    color: #3D4656 !important;
  }
}
.active-inplace-custom-input {
  border-bottom: 2px solid #3B6EC9;
  cursor: initial !important;
  cursor: text !important;
  input {
    cursor: text;
  }
}
.btn-action-section {
  button {
    margin: 0px !important;
    i {
      font-size: 18px !important;
    }
  }
}