.inplace-input {
  line-height: 1;
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: $main--font-family;

  .inplace-out {
    vertical-align: middle;
    line-height: 24px;
  }

  input {
    border-radius: 0;
    padding: 0 56px 0 0;
    width: 100%;
    height: 24px;
    border-width: 0 0 2px 0;

    &:focus {
      border-color: $main-color-2;
      box-shadow: none;
    }
  }

  input {
    font-size: 13px;
  }

  &-field {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .v-messages {
    min-height: 0 !important;
  }
  .content {
    max-width: 439px;
    width: 100%;
    justify-content: space-between;
  }
  .save-btn {
    height: 52px !important;
    margin-top: 10px !important;
    &.v-btn--disabled {
      border-color: #f5f7fb!important;
      background-color: #f5f7fb!important;
    }
  }
}