.portfolios {
  width: 100%;
  margin-bottom: 7px !important;

  & > div {
    width: 100%;
  }

  &-menu {
    width: 100%;
  }

  &-inner-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
  }

  &-name {
    font-weight: bold;
    color: $theme-color-dark-blue;
    font-size: 14px;
  }

  &-currency {
    color: $sidebar-not-active-link-color;
    font-size: 13px;
  }

  &-inner-content {
    display: flex;
    flex-direction: column;
  }

  &-drop {
    z-index: 100000000000000;
  }

  &-list {
    max-height: 500px;
    overflow-x: auto;

    &-currency {
      display: flex;

      &__item {
        border: 1px solid #CACED5;
        border-radius: 2px;
        font-size: 9px;
        line-height: 1;
        text-transform: uppercase;
        padding: 1px 2px;
        cursor: pointer;
        margin-right: 4px;

        &.active {
          background-color: $sidebar-blue-color;
          border-color: $sidebar-blue-color;
          color: #fff;
          cursor: default;
        }
      }
    }
  }

  &-list-tile {
    .v-list__tile__title {
      font-weight: bold;
      font-size: 14px;
    }

    &__icon {
      @extend %portfolio-switcher-icon;
      margin-right: 16px;
      flex: none;
    }
  }

  &-list-icons {
    width: 100%;
    text-align: left;
    color: $sidebar-not-active-link-color;
    font-size: 13px;
    i {
      margin-right: 7px;
    }
  }
}
