.menu-icons {
    background: #ffffff;
    padding: 11px 10px 19px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #040427;
}
.section-icon-menu {
    margin-left: 16px;
    .public-access {
        margin-left: 5px;
    }
}