.portfolios-content-table{
    table {
        thead {
            tr {
                th {
                    &:nth-child(2) {
                        padding-left: 0px;
                    }
                }
            }
        }
    }
}
.left-pad-zero {
    padding-left: 0px !important;
}
.menu-icons {
    background: #ffffff;
    padding: 11px 10px 19px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #040427;
}
.section-icon-menu {
    margin-left: 16px;
    .public-access {
        margin-left: 5px;
    }
}
.action-btn-table-row {
    padding-left: 26px;
}