.v-radio {
  .v-input--selection-controls__input {
    i {display: none}

    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background: #fff;
      border: 2px solid #CACED5;
      border-radius: 50%;
      display: block;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
    }
  }

  &.accent--text .v-input--selection-controls__input:before {border: 5px solid $sidebar-blue-color}

  .v-label {
    font-size: 14px;
    color: #3D4656 !important;
  }
}


.v-input.radio-horizontal {
  .v-input__slot {margin: 0}

  .v-input--radio-group__input {
    flex-direction: row;

    .v-radio {
      margin: 0;

      + .v-radio {margin-left: 16px}
    }
  }
}