.sidebar {
  .hamburger {
    cursor: pointer;
    width: 23px;
  }

  hr {
    color: $sidebar-hr-color;
    border: .5px solid;
    background: $sidebar-hr-color;
  }

  &-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
  }

  .v-list__group__items--no-action .v-list__tile {
    padding-left: 55px;
  }

  &-list-item {
    color: $sidebar-not-active-link-color;
  }

  &-list-item-active {
    color: $theme-color-dark-blue !important;
    border-left: 2px solid $sidebar-blue-color;
  }

  &-item-action {
    justify-content: center !important;
    width: 48px;
    transition: all .3s ease-in-out;
  }

  &-logo {
    margin-top: auto;
    color: $sidebar-not-active-link-color;

    &-content {
      font-weight: 200;
      font-size: 12px;
      justify-content: flex-end !important;
    }

    &-img {
      padding-bottom: 5px;
      align-items: flex-end !important;
    }
  }

  &-dialog {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $sidebar-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 14px;
    top: 150px;
    z-index: 99;
    cursor: pointer;
    transition: .2s linear;

    &.open {
      left: 274px;
    }

    i {
      color: #fff !important;
    }
  }

  .v-list__group__header__append-icon {
    background: url("../img/common/icon-dropdown.svg") no-repeat center;
    transform: rotate(180deg);
    transition: transform 0.1s ease;

    i {opacity: 0}
  }

  .v-list__group__header--active .v-list__group__header__append-icon {
    transform: rotate(0);
  }
}
