.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sub-menu {
  display: none;
}
.mini-menu-width {
  min-width: 80px;
  max-width: 80px;
}
.sidebar-list-item {
  .v-list__tile {
    padding-right: 0px !important;
  }
}
.wrap-list-menu {
  padding-right: 8px;
  .v-list__tile {
    padding: 13px 12px 13px 16px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    color: #96A5BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .v-list__tile__title {
      font-size: 13px;
      height: initial;
      padding: 0px;
      color: inherit;
    }
    &:hover {
      background: #F7F9FB;
      color: #3B6EC9 !important;
      .sub-menu {
        display: inline-block;
      }
    }
  }
  .menu-item-list {
    width: 100%;
    div {
      width: 100%;
    }
  }
}
.add-btn-menu{
  background: #F0F3F8 !important;
  color: #96A5BE !important;
}
.portfolios-name {
  max-width: 140px;
}
.active-link {
  border-left: 2px solid #3b6ec9 !important;
}