.v-input--switch {
  &__track {
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #CACED5;
    height: 24px;
    width: 38px;
    top: calc(50% - 12px);
  }

  &__thumb {
    background-color: #96A5BE;
    top: calc(50% - 9px);
    left: 5px;
    height: 18px;
    position: relative;
    width: 18px;
    box-shadow: none;

    &.accent--text {background-color: $sidebar-blue-color}
  }

  &.v-input--is-dirty .v-input--switch__thumb {transform: translateX(14px)}

  .accent--text {
    border-color: $sidebar-blue-color;
    color: $sidebar-blue-color !important;
  }
}