.theme--light.v-data-iterator .v-data-iterator__actions,
.theme--light.v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header .v-expansion-panel__header__icon .v-icon,
.theme--light.v-table thead th {
  color: $table--header--font-color;
}

.theme--light.v-btn-toggle .v-btn,
.theme--light.v-datatable thead th.column.sortable.active,
.theme--light.v-datatable thead th.column.sortable.active .v-icon,
.theme--light.v-datatable thead th.column.sortable:hover,
.theme--light.v-small-dialog a {
  color: $theme-color-dark-blue;
}

.theme--light.v-table {
  background-color: #fff;
  color: $theme-color-dark-blue;
}

.ii--red-markup {
  font-family: "OpenSans Semibold";
  color: $table--num--red-color;
}

.ii--green-markup {
  font-family: "OpenSans Semibold";
  color: $table--num--green-color;
}

.ii-number-cell {
  font-family: "OpenSans Semibold";
}

.data-table {

  tr {
    +.bold-row {
      // background-color: #0404271f !important;
    }
  }

  &-cell {
    transition: .3s ease-in-out;
  }

  &-cell-open {
    transform: rotate(90deg);
  }

  td:nth-child(1) {
    padding: 0 5px 0 20px !important;
    text-align: center;
  }

  td:nth-child(2) {
    padding-left: 0 !important;
  }

  th {
    color: $non-active-table-th-color !important;

    &:nth-child(1) {
      padding: 0 5px 0 20px !important;
      text-align: center;
    }

    &:nth-child(2) {
      padding-left: 0 !important;
    }

    &.active {
      color: $theme-color-dark-blue !important;
    }
  }
}

/** Стили разворачивающегося блока */
.extended-info {
  display: grid;
  margin-left: 20px;

  &.one-column {
    grid-template-columns: 20% 30%;
  }

  &.two-column {
    grid-template-columns: repeat(4, 20%);
  }

  &__cell {
    margin: 5px 0 5px 0;

    &.label {
      font-weight: 900;
    }

    &__second {
      color: rgba(0, 0, 0, 0.57) !important;
    }
  }
}
// ======================= перекрываем кастомные стили
/** Убираем нижнюю границу у заголовка таблиц */
.theme--light.v-table thead tr:first-child {
  border-bottom: none !important;
}

/** Убираем перекрытие иконки тултипа с подсказкой у столбца */
.v-datatable thead th.column.sortable:focus .v-icon, .v-datatable thead th.column.sortable:hover .v-icon {
  opacity: 0 !important;
}