.v-tabs {
  margin-bottom: 16px;

  &__bar {
    padding: 0 24px;
    box-shadow: 0 4px 7px rgba(4, 4, 39, 0.05);
  }

  &__div {
    margin-right: 30px;

    &.active {@extend .v-tabs__item--active}
  }

  & &__item {
    font-size: 14px;
    line-height: 20px;
    color: $navbar--item--font-color;
    text-transform: none;
    font-weight: normal;
    padding: 6px 0;

    &--active {color: $sidebar-blue-color !important;}
  }

  &__slider.accent {
    border-color: $sidebar-blue-color !important;
    background-color: $sidebar-blue-color !important;
  }
}

.v-window-item .v-expansion-panel .v-expansion-panel__container {
  background: none !important;
}