.tags-menu {

  &__content {
    background-color: #fff;
    padding: 16px 16px 24px;

    .tags-list-item__body .tag-item {cursor: pointer}
  }

  &__selected {
    display: flex;
    flex-wrap: wrap;
    background: $main--bg-color;
    border: 1px solid $form-element--border-color;
    border-radius: $form-element--border-radius;
    padding: 8px 16px 0;
    margin-bottom: 16px;
  }

  &__tabs {
    position: relative;

    .v-tabs {
      margin-bottom: 0;

      &__bar {
        box-shadow: none;
        border-bottom: 1px solid $form-element--border-color;
        border-radius: 0;
        padding: 0 24px 0 0;
      }

      &__container {height: 26px;}

      &__div {margin-right: 12px}

      &__item {
        font-size: 12px;
        line-height: 1.5;
        @extend .ellipsis;
        justify-content: flex-start;
      }
    }

    .icon-m-portfolio-management {
      position: absolute;
      right: 0;
      top: 0;
      color: $icon--color;
      cursor: pointer;

      &:hover {color: $main-color-1}
    }
  }

  @media all and (max-width: $xs-breakpoint) {
    width: calc(100% - 32px);
    margin: 0 16px;
  }
}

.tag {
  &-item {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.5;
    background: rgba($main-color-1, 0.2);
    padding: 3px 8px 3px 4px;
    border-radius: 4px;
    margin: 0 8px 8px 0;
    max-width: 100%;

    &__name {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon-remove {
      cursor: pointer;
      color: $main-color-1;
      font-size: 8px;
      margin-left: 4px;
    }
  }
}

.tags__add-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #EBEFF7;
  color: $icon--color;
  cursor: pointer;
  margin-bottom: 8px;
  @extend .intel-icon;
  @extend .icon-plus;

  &:hover {
    background: darken(#EBEFF7, 5%);
    color: $main-color-1;
  }
}

.tags-counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3px;
  left: 13px;
  height: 16px;
  min-width: 16px;
  border-radius: 8px;
  font-size: 9px;
  line-height: 1.5;
  color: #fff;
  background-color: $table--num--red-color;
  padding: 0 2px;
  border: 2px solid #fff;
}
