.custom-v-menu {
    position: absolute;
    transition: top 0.5s, left 0.5s;
    -webkit-transition: top 0.5s, left 0.5s;
    left: 0px;
    top: 0px;
    max-width: 433px;
    z-index: 200;
    filter: blur(0px) !important;
    .v-menu-content {
      font-size: 12px;
      line-height: 18px;
      color: #040427;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 13px;
      .link {
        color: red;
        cursor: pointer;
      }
    }
}
.blur {filter: blur(4px)}
