.info-about-portfolio {
    background: #3B6EC9;
    border-radius: 4px 0px 0px 4px;
}
.non-sovet-block {
    max-width: 460px;
}
.choose-risk-wrap {
    .v-input__control {
        width: 100%;
    }
}