.btn-open-dialog-top-paper {
    margin-left: -36px !important;
}
.top-paper-item{
    cursor: pointer;
    width: 70px !important;
    justify-content: center;
    .v-chip__content {
        cursor: pointer;
    }
}