/*!
 * STRICTLY CONFIDENTIAL
 * TRADE SECRET
 * PROPRIETARY:
 *       "Intelinvest" Ltd, TIN 1655386205
 *       420107, REPUBLIC OF TATARSTAN, KAZAN CITY, SPARTAKOVSKAYA STREET, HOUSE 2, ROOM 119
 * (c) "Intelinvest" Ltd, 2018
 *
 * СТРОГО КОНФИДЕНЦИАЛЬНО
 * КОММЕРЧЕСКАЯ ТАЙНА
 * СОБСТВЕННИК:
 *       ООО "Интеллектуальные инвестиции", ИНН 1655386205
 *       420107, РЕСПУБЛИКА ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА СПАРТАКОВСКАЯ, ДОМ 2, ПОМЕЩЕНИЕ 119
 * (c) ООО "Интеллектуальные инвестиции", 2018
 */

.info-about-event {
  padding: 17px 16px 28px !important;
  background: #ffffff;
}

.events-calendar-wrap {
  .v-calendar-weekly__head {
    border-bottom: 1px solid #E8E9ED;
    .v-outside {
      background-color: #ffffff !important;
    }
    .v-calendar-weekly__head-weekday {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #B0B4C2;
      font-size: 13px;
      &:last-child {
        border-right: none;
      }
    }
  }
  .v-calendar-weekly__week {
    .v-outside {
      div {
        display: none;
      }
    }
    .v-calendar-weekly__day {
      padding-left: 11px;
      &:last-child {
        border-right: none;
        padding-right: 5px;
      }
      .v-calendar-weekly__day-month {
        text-transform: capitalize;
      }
      .primary--text {
        &:not(.v-calendar-weekly__day-month) {
          cursor: text;
          text-decoration: none;
          background: #3B6EC9;
          border-radius: 4px;
          color: #FFFFFF !important;
          margin-left: 10px;
        }
        &:not(.v-calendar-weekly__day-label) {
          margin-left: 10px;
        }
      }
      .v-calendar-weekly__day-label {
        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
    &:last-child {
      .v-calendar-weekly__day {
        border-bottom: none;
      }
    }
  }
  .coupon {
    border-left: 3px solid #03A9F4;
  }
  .calendar-events-title {
    border-radius: 4px;
    background: #F7F9FB !important;
    max-width: 200px;
    margin-top: 5px;
    cursor: pointer;
  }
  .amortization {
    border-left: 3px solid #9C27B0;
  }

  .repayment {
    border-left: 3px solid #4CAF50;
  }

  .custom {
    border-left: 3px solid #FF9DB7;
  }

  .dividend_news {
    border-left: 3px solid #95EEDA;
  }

  .dividend {
    border-left: 3px solid #F44336;
  }
  .v-input__slot {
    padding-left: 6px !important;
    .v-text-field__slot {
      input {
        text-transform: capitalize;
        font-size: 16px;
        padding: 0px !important;
        height: 48px !important;
      }
    }
  }
  .v-input__append-inner {
    margin-top: 0px !important;
    padding: 0px !important;
  }
  .wrap-list-events {
    display: flex;
    flex-direction: column;
  }
  .select-date-input {
    .v-input {
      align-items: center;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
  .rotate-icons {
    .v-input {
      .v-icon {
        transform: rotate(180deg);
      }
    }
  }
}


.eventLegend {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 7px;
  border-radius: 3px;
}

.eventsAggregateInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 30px;
  flex-wrap: wrap;

  .item-block {
    font-family: $main--font-family;
    font-size: 12px;
    line-height: 16px;
    display: flex;

    +.total {
      font-family: $main--font-family;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      background: none !important;
      margin-left: 14px;
    }

    color: #040427;
    margin: 10px 30px 10px 0;
    padding: 0 10px 0 0;
    height: 24px;
    background: #F7F9FB;
    border-radius: 4px;

    &__eventLegend {
      width: 3px;
      height: 24px;
      margin-right: 10px;

      background: #4CAF50;
      border-radius: 4px 0 0 4px;
    }

    &__amount {
      margin: auto;
    }
  }
}

.eventsControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.events {
  &__card {
    &-title {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #040427;
      padding-left: 30px;
    }
  }

  .pl-30 {
    padding-left: 30px !important;
  }

  .v-card__text {
    padding: 0 !important;
  }

  .headline {
    font-size: 18px !important;
    padding: 11px 3px 0px 30px!important;
  }

  &__menu-btn {
    height: 10px !important;
  }

  .events-table, .dividend-news-table {
    padding: 0 !important;

    &__empty {
      margin: auto;
      width: 500px;
      padding: 20px;
      font-size: 14px;
    }
    table {
      thead {
        tr {
          th {
            &:first-child {
              padding-left: 30px !important;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-child {
              padding-left: 30px !important;
            }
          }
        }
      }
    }
  }

    .amount__currency {
      color: $font-color--lite;
      font-family: $main--font-family;
      font-size: 12px;
    }
}
.event-calendar-active-filter {
  position: absolute;
  width: 10px;
  right: 21px;
  height: 10px;
  border-radius: 5px;
  background: #ff3e70;
  border: 2px solid #fff;
  z-index: 7;
}
