/*!
 * STRICTLY CONFIDENTIAL
 * TRADE SECRET
 * PROPRIETARY:
 *       "Intelinvest" Ltd, TIN 1655386205
 *       420107, REPUBLIC OF TATARSTAN, KAZAN CITY, SPARTAKOVSKAYA STREET, HOUSE 2, ROOM 119
 * (c) "Intelinvest" Ltd, 2018
 *
 * СТРОГО КОНФИДЕНЦИАЛЬНО
 * КОММЕРЧЕСКАЯ ТАЙНА
 * СОБСТВЕННИК:
 *       ООО "Интеллектуальные инвестиции", ИНН 1655386205
 *       420107, РЕСПУБЛИКА ТАТАРСТАН, ГОРОД КАЗАНЬ, УЛИЦА СПАРТАКОВСКАЯ, ДОМ 2, ПОМЕЩЕНИЕ 119
 * (c) ООО "Интеллектуальные инвестиции", 2018
 */

.coupon {
  background: #03A9F4 !important;
}

.amortization {
  background: #9C27B0 !important;
}

.repayment {
  background: #4CAF50 !important;
}

.custom {
  background: #FF9DB7 !important;
}

.dividend_news {
  background: #95EEDA !important;
}

.dividend {
  background-color: #F44336 !important;
}

.eventLegend {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 7px;
  border-radius: 3px;
}

.eventsAggregateInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 30px;
  flex-wrap: wrap;

  .item-block {
    font-family: $main--font-family;
    font-size: 12px;
    line-height: 16px;
    display: flex;

    +.total {
      font-family: $main--font-family;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      background: none !important;
      margin-left: 14px;
    }

    color: #040427;
    margin: 10px 30px 10px 0;
    padding: 0 10px 0 0;
    height: 24px;
    background: #F7F9FB;
    border-radius: 4px;

    &__eventLegend {
      width: 3px;
      height: 24px;
      margin-right: 10px;

      background: #4CAF50;
      border-radius: 4px 0 0 4px;
    }

    &__amount {
      margin: auto;
    }
  }
}

.eventsControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.events {
  &__card {
    &-title {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #040427;
      padding-left: 30px;
    }
  }

  .pl-30 {
    padding-left: 30px !important;
  }

  .v-card__text {
    padding: 0 !important;
  }

  .headline {
    font-size: 18px !important;
    padding: 11px 3px 0px 30px!important;
  }

  &__menu-btn {
    height: 10px !important;
  }

  .events-table, .dividend-news-table {
    padding: 0 !important;

    &__empty {
      margin: auto;
      width: 500px;
      padding: 20px;
      font-size: 14px;
    }
    table {
      thead {
        tr {
          th {
            &:first-child {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }

    .amount__currency {
      color: $font-color--lite;
      font-family: $main--font-family;
      font-size: 12px;
    }
}
