.import-default-text {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #040427;
}
.import-wrapper {
  padding: 24px 32px;
  &-header {
    padding: 0;

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #040427;
    }
  }
  &-content {
    padding: 0px;
    .intelinvest-section {
      margin-top: 18px;
      &__description {
        max-width: 691px;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #040427;
        a {
          text-decoration: none;
        }
      }
    }
    .setings-menu {
      margin: 27px 0px 20px 0px;
      .v-btn {
        padding: 0px 38px 0px 20px;
        border-radius: 30px !important;
        background: url("../img/fileimport/setings.svg") no-repeat;
        background-position: 86% center;
      }
    }
    .section-upload-file{
      .btn-show-instruction {
        font-size: 12px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #A1A6B6;
        cursor: pointer;
      }
      .v-btn {
        margin-top: 20px;
      }
      .file-link__text{
        background: #3b6ec9;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 8px 20px;
        height: 44px;
        min-width: 124px;
        text-decoration: none !important;
        white-space: nowrap;
      }
      .select-file-btn {
        .file-link__text {
          padding: 12px 20px;
          background: #3b6ec9;
          color: #FFFFFF;
          white-space: nowrap;
        }
      }
      .reselect-file-btn {
        .file-link__text {
          padding: 8px 16px;
          background: none;
          color: #3D4656;
          border: 1px solid #CACED5;
          white-space: nowrap;
        }
      }
    }
  }
}
.dialog-setings-menu {
  .v-list{
    padding: 17px 9px 24px 20px !important;
  }
  .v-input__slot {
    margin-bottom: 0px !important;
  }
  .title-setings {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #4F5D75;
    opacity: .48;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: $sm-breakpoint) {
    min-width: 0 !important;
  }
}
.hint-text-for-setings {
  padding: 16px;
  font-size: 13px;
  line-height: 28px;
  color: #040427;
}
.checkbox-setings {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0px;
  }
  span {
    font-size: 14px;
    line-height: 20px;
    color: #3D4656;
  }
}

.providers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 32px;
  border-top: 1px solid $sidebar-hr-color;
  padding: 8px 0 50px;

  .item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 188px;
    margin: 16px 64px 0 0;

    &-img-block {
      @extend %provider-image;
      filter: grayscale(1);
    }
    &-text {
      font-size: 12px;
      line-height: 28px;
      color: #040427;
    }
    &:hover .item-img-block {
      filter: none;
    }
  }

  .active {
    .item-img-block {
      border: 1px solid #3b6ec9;
      filter: none;
    }
    .item-text {
      color: #3b6ec9;
    }
  }
}

.provider {
  display: flex;
  align-items: center;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $sidebar-hr-color;
  }

  &__image {
    @extend %provider-image;
  }

  &__name {
    font-size: 18px;
    line-height: 22px;

    div {
      font-size: 12px;
      color: #9095A6;
    }
  }

  &__stepper {
    box-shadow: none;
    margin-top: 24px;

    .v-stepper {
      &__header {
        box-shadow: none;
        background: none;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 13px;
        height: auto;
      }

      &__content {
        padding: 0;
        margin-top: 24px;
      }

      &__step {
        padding: 0;

        &:not(:last-child):after {
          content: "";
          background: url("../img/common/icon-dropdown.svg") no-repeat center;
          background-size: contain;
          width: 10px;
          height: 10px;
          margin: 0 8px;
          transform: rotate(90deg);
        }

        &__step {display: none}
      }
    }
  }

  &__import-history {
    @extend .promo-codes__statistics;

    .v-expansion-panel__header {
      min-height: 0;
    }
  }
}

/* Иконки брокеров */

.provider,
.providers {
  .alfadirect {
    background: url("../img/fileimport/alfadirect.svg") center no-repeat;
  }
  .itinvest {
    background: url("../img/fileimport/itinvest.svg") center no-repeat;
  }
  .otkrytie {
    background: url("../img/fileimport/otkrytie.svg") center no-repeat;
  }
  .zerich {
    background: url("../img/fileimport/zerich.svg") center no-repeat;
  }
  .psbank {
    background: url("../img/fileimport/psbank.svg") center no-repeat;
  }
  .bcs {
    background: url("../img/fileimport/bcs.svg") center no-repeat;
  }
  .bcs_cyprus {
    background: url("../img/fileimport/bcs_cyprus.svg") center no-repeat;
  }
  .finam {
    background: url("../img/fileimport/finam.svg") center no-repeat;
  }
  .freedom_finance {
    background: url("../img/fileimport/freedom_finance.svg") center no-repeat;
  }
  .kitfinance {
    background: url("../img/fileimport/kit-finance.svg") center no-repeat;
  }
  .uralsib {
    background: url("../img/fileimport/uralsib.svg") center no-repeat;
  }
  .sberbank {
    background: url("../img/fileimport/sberbank.svg") center no-repeat;
  }
  .vtb24 {
    background: url("../img/fileimport/vtb24.svg") center no-repeat;
  }
  .interactive_brokers {
    background: url("../img/fileimport/interactive_brokers.svg") center no-repeat;
  }
  .tinkoff {
    background: url("../img/fileimport/tinkoff.svg") center no-repeat;
  }
  .aton {
    background: url("../img/fileimport/aton.svg") center no-repeat;
  }
  .alfacapital {
    background: url("../img/fileimport/alfacapital.svg") center no-repeat;
  }
  .quik {
    background: url("../img/fileimport/quik.svg") center no-repeat;
  }
  .intelinvest {
    background: url("../img/sidebar/logo.svg") center no-repeat;
  }
}

%provider-image {
  border: 1px solid $sidebar-hr-color;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-size: 30px 30px !important;
  margin-right: 12px;
}