.import-wrapper {
  padding: 24px 32px 50px;
  &-header {
    padding: 0;

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $theme-color-dark-blue;
    }
  }
  &-content {
    padding: 0px;
    .intelinvest-section {
      margin-top: 18px;
      &__description {
        max-width: 691px;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #040427;
        a {
          text-decoration: none;
        }
      }
    }
    .settings-menu {
      margin-right: 0;
      .v-btn {
        padding: 0px 38px 0px 20px;
        border-radius: 30px !important;
        background: url("../img/fileimport/settings.svg") no-repeat;
        background-position: 86% center;
      }

      @media only screen and (max-width: $xs-breakpoint) {
        margin: 24px 0 20px 0;
      }
    }
    .section-upload-file{
      align-items: center;

      .btn-show-instruction {
        font-size: 12px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #A1A6B6;
        cursor: pointer;
      }

      .v-btn {margin-top: 20px}

      .reselect-file-btn {
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        min-width: 124px;
        text-decoration: none !important;
        white-space: nowrap;
        display: inline-flex;
        height: 36px;
        align-items: center;
        padding: 8px 16px;
        background: none;
        color: #3D4656;
        border: 1px solid #CACED5;
      }

      @media only screen and (max-width: $xs-breakpoint) {
        flex-direction: column;

        .btn {margin-bottom: 16px !important;}
      }
    }
  }

  @media only screen and (max-width: $sm-breakpoint) {padding: 16px}
}
.dialog-settings-menu {
  .v-list{
    padding: 17px 9px 24px 20px !important;
  }
  .v-input__slot {
    margin-bottom: 0px !important;
  }
  .title-settings {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #4F5D75;
    opacity: .48;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: $sm-breakpoint) {
    min-width: 0 !important;
  }
}
.hint-text-for-settings {
  padding: 16px;
  font-size: 13px;
  line-height: 28px;
  color: #040427;
}
.checkbox-settings {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0px;
  }
  span {
    font-size: 14px;
    line-height: 20px;
    color: #3D4656;
  }
}

.providers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 32px;
  border-top: 1px solid $sidebar-hr-color;
  padding: 8px 0 50px;

  .item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 188px;
    margin: 16px 64px 0 0;

    &-img-block {
      @extend %provider-image;
      filter: grayscale(1);
      background-size: 30px 30px !important;
    }
    &-text {
      font-size: 12px;
      line-height: 28px;
      color: #040427;
    }
    &:hover .item-img-block {
      filter: none;
    }
  }

  .active {
    .item-img-block {
      filter: none;
    }
  }
}

.provider {
  display: flex;
  align-items: center;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $sidebar-hr-color;

    @media only screen and (max-width: $xs-breakpoint) {flex-wrap: wrap}
  }

  &__image {
    @extend %provider-image;
    background: url("../img/sidebar/case.svg") no-repeat center;
    background-size: 30px 30px !important;
  }

  &__name {
    font-size: 18px;
    line-height: 22px;

    &-select {
      color: $main--font-color;

      i {transition: transform 0.15s ease}
    }

    &-date {
      font-size: 12px;
      color: #9095A6;
    }

    .v-menu__activator--active &-select i {
      transform: rotate(-180deg);
    }
  }

  &__stepper {
    box-shadow: none;
    margin-top: 24px;

    .v-stepper {
      &__header {
        box-shadow: none;
        background: none;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 13px;
        height: auto;
      }

      &__content {
        padding: 0;
        margin-top: 24px;
      }

      &__step {
        padding: 0;
        text-shadow: 0 0 0 #000;

        &:not(:last-child):after {
          content: "";
          background: url("../img/common/icon-dropdown.svg") no-repeat center;
          background-size: contain;
          width: 10px;
          height: 10px;
          margin: 0 8px;
          transform: rotate(90deg);
        }

        &__step {display: none}

        &.v-stepper__step--active ~ .v-stepper__step {text-shadow: none}

        @media only screen and (max-width: $sm-breakpoint) {
          .v-stepper__label {display: flex !important}
        }
      }
    }

    .exp-panel.promo-codes__statistics .v-expansion-panel__header {min-height: 0}

    .currency-balances > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 48px;

      > div:not(.btn-section) {
        max-width: 232px;
        width: 232px;
        margin-right: 12px;
      }

      .btn-section {display: none}

      .v-text-field {

        &__details {display: none}

        &__suffix {
          position: absolute;
          top: calc(100% + 4px);
          font-size: 12px;
          color: rgba(61, 70, 86, 0.54);
        }
      }
    }
  }
}

.providers-list {
  &__item-img {
    @extend %provider-image;
    width: 32px !important;
    height: 32px !important;
    background-size: 22px 22px !important;
  }

  &__item-description {font-size: 14px}

  .v-list__tile {
    height: auto;
    padding: 6px 20px;
  }
}

/* Иконки брокеров */

.provider,
.providers,
.portfolio-content,
.portfolios-list-tile,
.providers-list,
.card__header,
.selected-broker {
  .alfadirect {
    background: url("../img/fileimport/alfadirect.svg") center no-repeat;
  }
  .itinvest {
    background: url("../img/fileimport/itinvest.svg") center no-repeat;
  }
  .otkrytie {
    background: url("../img/fileimport/otkrytie.svg") center no-repeat;
  }
  .zerich {
    background: url("../img/fileimport/zerich.svg") center no-repeat;
  }
  .psbank {
    background: url("../img/fileimport/psbank.svg") center no-repeat;
  }
  .bcs {
    background: url("../img/fileimport/bcs.svg") center no-repeat;
  }
  .bcs_cyprus {
    background: url("../img/fileimport/bcs_cyprus.svg") center no-repeat;
  }
  .finam {
    background: url("../img/fileimport/finam.svg") center no-repeat;
  }
  .freedom_finance {
    background: url("../img/fileimport/freedom_finance.svg") center no-repeat;
  }
  .kitfinance {
    background: url("../img/fileimport/kit-finance.svg") center no-repeat;
  }
  .uralsib {
    background: url("../img/fileimport/uralsib.svg") center no-repeat;
  }
  .sberbank {
    background: url("../img/fileimport/sberbank.svg") center no-repeat;
  }
  .vtb24 {
    background: url("../img/fileimport/vtb24.svg") center no-repeat;
  }
  .interactive_brokers {
    background: url("../img/fileimport/interactive_brokers.svg") center no-repeat;
  }
  .tinkoff {
    background: url("../img/fileimport/tinkoff.svg") center no-repeat;
  }
  .aton {
    background: url("../img/fileimport/aton.svg") center no-repeat;
  }
  .alfacapital {
    background: url("../img/fileimport/alfacapital.svg") center no-repeat;
  }
  .quik {
    background: url("../img/fileimport/quik.svg") center no-repeat;
  }
  .intelinvest {
    background: url("../img/sidebar/logo.svg") center no-repeat;
  }
}

/* Блок История импорта */
.import-history {
  @extend .promo-codes__statistics;

  .v-expansion-panel__header {
    min-height: 0;
  }

  &-block {
    background: $main--bg-color;
    border-radius: 4px;
    padding: 12px 16px 16px;

    &:first-child {margin-top: 16px}

    + .import-history-block {
      margin-top: 12px;
    }

    &__header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #DEE2F0;
      padding-bottom: 12px;

      &.withoutBorder {
        padding-bottom: 0;
        border-bottom: none;
      }

      > span:not(:last-child) {margin-right: 8px}

      @media only screen and (max-width: $sm-breakpoint) {overflow-y: auto}
    }

    &__name {
      margin-top: 2px;
      font-weight: 600
    }

    &__date {font-size: 14px}

    &__description {
      font-size: 12px;
      line-height: 18px;
      color: #9095A6;
      margin-top: 2px;
    }

    &__status {
      padding: 0 8px 0 22px;
      font-size: 12px;
      line-height: 24px;
      border-radius: 4px;
      position: relative;
      margin-left: auto;

      &.error {
        background: rgba(#ff5252, 0.2) !important;

        &:before {background: #ff5252}
      }

      &.warn {
        background: rgba(#FFE600, 0.2);

        &:before {background: #FFE600}
      }

      &.success {
        background: rgba(#6CC11A, 0.2) !important;

        &:before {background: #6CC11A}
      }

      &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }

    &__delete {
      width: 24px;
      height: 24px;
      background: url("../img/import/icon-delete.svg") no-repeat center;
      cursor: pointer;
    }

    &__body {
      > * {margin-top: 12px}

      .exp-panel {

        .v-expansion-panel__header {
          justify-content: space-between;

          &__icon {transform: rotate(180deg) !important}
        }

        .v-expansion-panel__container--active .v-expansion-panel__header {
          border-bottom: 1px solid $sidebar-hr-color;
          margin-bottom: 16px;
          padding-bottom: 12px !important;

          &__icon {transform: rotate(0deg) !important;}
        }
      }
    }
  }
}

.import-alias {
  padding: 0;
  margin-bottom: 32px;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &__name {
      @extend .ellipsis;
      width: 232px;
      font-size: 14px;
      margin-right: 12px;
      flex: none;
    }

    .v-input {
      max-width: 476px;
    }

    @media only screen and (max-width: $sm-breakpoint) {flex-direction: column}
  }
}

.import-result-info {
  margin-bottom: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid $sidebar-hr-color;

  .exp-panel {
    background: $main--bg-color;
    border-radius: 4px;
    padding: 12px 16px 12px;

    &:first-child {margin-top: 16px}

    + .exp-panel {margin-top: 8px}

    .v-expansion-panel__header {
      justify-content: space-between;

      @media only screen and (max-width: $sm-breakpoint) {overflow-y: auto}
    }

    .v-expansion-panel__container--active .v-expansion-panel__header {
      border-bottom: 1px solid $sidebar-hr-color;
      margin-bottom: 16px;
      padding-bottom: 12px;
    }
  }
}

.import-result-status {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &__img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 12px;

    &.status-success {background: $main--bg-color url("../img/import/success.svg") no-repeat center}
    &.status-warn {background: $main--bg-color url("../img/import/warn.svg") no-repeat center}
    &.status-error {background: $main--bg-color url("../img/import/error.svg") no-repeat center}
  }

  &__content {
    font-size: 0;

    div {
      font-size: 18px;

      &.status-error {color: $dashboard--red-color}
    }

    span {
      font-size: 12px;
      line-height: 18px;
      color: #9095A6;
    }
  }
}

%provider-image {
  border: 1px solid $sidebar-hr-color;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin-right: 12px;
  background-color: rgba(255,255,255,.3) !important;
  flex: none;
}
