.import-default-text {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #040427;
}
.import-wrapper {
  padding: 20px 20px 27px 20px;
  &-header {
    padding: 0px 0px 0px 12px;
    &__title {
      font-size: 16px;
      line-height: 16px;
      color: #040427;
    }
  }
  &-content {
    padding: 0px;
    .intelinvest-section {
      margin-top: 18px;
      &__description {
        max-width: 691px;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #040427;
        a {
          text-decoration: none;
        }
      }
    }
    .setings-menu {
      margin: 27px 0px 20px 0px;
      .v-btn {
        padding: 0px 38px 0px 20px;
        border-radius: 30px !important;
        background: url("../img/fileimport/setings.svg") no-repeat;
        background-position: 86% center;
      }
    }
    .section-upload-file{
      margin: 20px 0px 16px;
      .btn-show-instruction {
        font-size: 12px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #A1A6B6;
        cursor: pointer;
      }
      .v-btn {
        margin-top: 20px;
      }
      .file-link__text{
        background: #3b6ec9;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 8px 20px;
        height: 44px;
        text-decoration: none !important;
      }
      .reselect-file-btn {
        .file-link__text {
          padding: 12px 20px;
          background: none;
          color: #3D4656;
          border: 1px solid #CACED5;
        }
      }
    }
  }
}
.dialog-setings-menu {
  .v-list{
    padding: 17px 9px 24px 20px !important;
  }
  .v-input__slot {
    margin-bottom: 0px !important;
  }
  .title-setings {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #4F5D75;
    opacity: .48;
    margin-bottom: 20px;
  }
}
.hint-text-for-setings {
  padding: 16px;
  font-size: 13px;
  line-height: 28px;
  color: #040427;
}
.checkbox-setings {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0px;
  }
  span {
    font-size: 14px;
    line-height: 20px;
    color: #3D4656;
  }
}
.item-files {
  padding: 0px 16px 6px;
  border-bottom: 2px solid #3B6EC9;
  max-width: 308px;
  &__name {
    max-width: 159px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #040427;
    font-weight: 600;
  }
  &__size {
    font-size: 10px;
    letter-spacing: -0.3px;
    color: #A1A6B6;
  }
}
.providers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 30px 32px 0px;
    max-width: 123px;
    width: 100%;
    &-img-block {
      border: 1px solid #CACED5;
      border-radius: 6px;
      filter: grayscale(1);
      width: 100%;
      max-width: 78px;
      height: 44px;
      background-size: 30px 30px !important;
    }
    &-text {
      font-size: 12px;
      line-height: 28px;
      color: #040427;
    }
    &:hover .item-img-block {
      filter: none;
    }
  }

  .active {
    .item-img-block {
      border: 1px solid #3b6ec9;
      filter: none;
    }
    .item-text {
      color: #3b6ec9;
    }
  }

  .alfadirect {
    background: url("../img/fileimport/alfadirect.svg") center no-repeat;
  }
  .itinvest {
    background: url("../img/fileimport/itinvest.svg") center no-repeat;
  }
  .otkrytie {
    background: url("../img/fileimport/otkrytie.svg") center no-repeat;
  }
  .zerich {
    background: url("../img/fileimport/zerich.svg") center no-repeat;
  }
  .psbank {
    background: url("../img/fileimport/psbank.svg") center no-repeat;
  }
  .bcs {
    background: url("../img/fileimport/bcs.svg") center no-repeat;
  }
  .bcs_cyprus {
    background: url("../img/fileimport/bcs_cyprus.svg") center no-repeat;
  }
  .finam {
    background: url("../img/fileimport/finam.svg") center no-repeat;
  }
  .freedom_finance {
    background: url("../img/fileimport/freedom_finance.svg") center no-repeat;
  }
  .kitfinance {
    background: url("../img/fileimport/kit-finance.svg") center no-repeat;
  }
  .uralsib {
    background: url("../img/fileimport/uralsib.svg") center no-repeat;
  }
  .sberbank {
    background: url("../img/fileimport/sberbank.svg") center no-repeat;
  }
  .vtb24 {
    background: url("../img/fileimport/vtb24.svg") center no-repeat;
  }
  .interactive_brokers {
    background: url("../img/fileimport/interactive_brokers.svg") center no-repeat;
  }
  .tinkoff {
    background: url("../img/fileimport/tinkoff.svg") center no-repeat;
  }
  .nettrader {
    background: url("../img/fileimport/nettrader.svg") center no-repeat;
  }
  .aton {
    background: url("../img/fileimport/aton.svg") center no-repeat;
  }
  .quik {
    background: url("../img/fileimport/quik.svg") center no-repeat;
  }
}