.empty-notifications-title-page {
  padding: 0px 0px 19px 24px;
}
.text-empty-notifications {
  line-height: 22px;
  letter-spacing: -0.3px;
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 28px;
  }
}
.notifications {
  padding: 28px 44px 28px 28px;
  font-size: 14px;
  .btn-menu {
    .v-btn {
      padding: 0px 19.1px;
    }
  }
  &-card {
    padding: 24px 24px 30px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 25px;
    box-shadow: none !important;
    font-family: $main--font-family;

    &__menu {
      width: 24px;
      height: 22px;
      background: url("../img/common/dots_more.svg") no-repeat center;
    }

    &-main {

      > div:not(.v-menu) {
        margin-bottom: 18px;

        &:last-of-type {margin-bottom: 28px}
      }

      &.notifications-card-full {
        padding: 0;
        background: none;
        text-align: right;
        margin-top: -28px;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      &-title {font-weight: 600}

      &-price {
        font-size: 12px;
        color: #a1a6b6;
        margin-left: 6px;

        i {color: #cdd4e0}
      }

      &-actions {
        margin-left: auto;

        img {
          cursor: pointer;
        }

        img:last-child {
          margin-left: 15px;
        }
      }
    }

    &-body {
      &-title {
        color: #B0B4C2;

        span {color: $main--font-color}
      }
      &-prices {

        & > div {
          display: flex;
          align-items: center;
        }

        &-sign {
          padding-top: 1px;
          color: #5380d0;
        }

        &-currency {
          margin-left: 20px;
          color: #cdd4e0;
        }
      }

      &-line {
        width: 1px;
        margin: 5px 0;
        background-color: #d8d8d8;
      }

      &-news {
        margin-top: 32px;

        & > div {
          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }

    &-last-notification {
      text-align: right;
      font-size: 13px;
      font-family: $main--font-family;
      color: rgb(161, 166, 182);
      line-height: 1.385;      
    }

    &-empty {
      font-size: 16px;
      font-family: $main--font-family;
      color: rgb(4, 4, 39);
      line-height: 2.75;      
    }
  }

  &-title {
    font-size: 24px;
    font-family: "Open Sans Bold";
    display: flex;
    align-items: center;

    img {
      margin-left: 15px;
    }
  }
}

.remove-notification {
  padding: 25px 40px;
  .add-notification-title {
    text-align: left;
  }

  .notifications-card-header-title {
    font-family: $main--font-family;
    font-weight: bold;
    text-align: left;
  }
  
  &-text {
    font-size: 14px;
    font-family: $main--font-family;
    color: rgb(87, 87, 138);
    line-height: 22px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
  }
  
  &-price {
    line-height: 20px;
    color: #a1a6b6;
    font-size: 18px;
    span {
      font-size: 16px;
      font-family: "OpenSans Semibold";
    }
    i {
      color: #cdd4e0;
    }
    margin-bottom: 20px;
  }
}