.chart-custom-filter {
    position: absolute;
    top: 20px;
    left: 133px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #ff3e70;
    border: 2px solid #fff;
    z-index: 7;
}

.pie-chart-wrapper {
    width: 99%;
    height: 500px;
    margin: 0 auto;

  &__empty {
    @extend %center-elements;
    height: 100%;
  }

    @media only screen and (max-width: $sm-breakpoint) {
        height: 350px;
    }
}

.empty-portfolio-image {
  max-height: 60vh;
  max-width: 100%;
  min-height: 200px;
  margin-bottom: 32px;
}