.portfolio-default-text {
  label {
    font-size: 14px;
    line-height: 18px;
    color: #3D4656 !important;
  }
}
.portfolio-link {
  color: #3B6EC9;
  text-decoration: none;
  white-space: nowrap;
}
.wrap-info-content {
  margin: 6.5px 10px 0px 0px;
  .settings-btn {
    margin: 25px 0px 33px 0px;
    button {
      margin-right: 12px !important;
      padding: 0px 19px;
      &:last-child {
        margin-right: 0px !important;
      }
    }
  }
  .link-section{
    div {
      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
}
.settings-menu {
  margin-right: 12px;
}
.dialog-type-menu {
  .v-list {
    padding: 14px 17px 10px 20px;
    opacity: 1;
    .menu-text {
      cursor: pointer;
      font-size: 13px;
      line-height: 28px;
      &:hover {
        color: #B0B4C2;
      }
    }
  }
}
.hide-copy-input{
  display: none;
}
