.profile {
  padding: 30px 33px;
  box-sizing: border-box;
  background: #fff;

  &__subtitle {
    font-size: 12px;
    color: $font-color--lite;
    margin: 10px 0;
  }

  &__line {
    display: flex;
    align-items: center;
  }

  .inplace-out {
    margin-right: 24px;
    line-height: 1;
  }

  &-edit {
    color: $main-color-2;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &-icons {
    display: flex;
    align-items: center;
    margin-left: 24px;

    &-complete,
    &-dismiss {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
      cursor: pointer;
    }
    
    &-complete {
      background-color: #3b6ec9;
      margin-right: 21px;
      &::before {
        display: block;
        content: "";
        width: 1px;
        height: 8px;
        background-color: #fff;
        transform: rotate(-45deg);
        position: absolute;
        top: 12px;
        left: 7px;
      }
      
      &::after {
        display: block;
        content: "";
        width: 1px;
        height: 12px;
        background-color: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 8px;
        left: 14px;
      }
    }

    &-dismiss {
      border: 1px solid #abafbd;
      
      &::before {
        display: block;
        content: "";
        height: 9px;
        width: 1px;
        position: absolute;
        top: 7.5px;
        left: 11px;
        transform: rotate(45deg);
        background-color: #abafbd;
      }
      
      &::after {
        display: block;
        content: "";
        height: 9px;
        width: 1px;
        position: absolute;
        top: 7.5px;
        left: 11px;
        transform: rotate(-45deg);
        background-color: #abafbd;
      }
    }
  }

  .inplace-input-field,
  .inplace-out {
    width: 232px;
    flex: none;
    .v-input__icon {
      margin-right: 12px;
    }
  }

  &-not-confirmed-email {
    color: red !important;
    font-size: 12px !important;
  }
  .wrapper-payment-info {
    padding-top: 19px;
    border-top: 1px solid #E8E9ED;
    .payment-content-text {
      line-height: 18px;
    }
    i {
      font-size: 18px;
      font-weight: bold;
    }
    .payment-card-date {
      color: #9498a1;
    }
  }
}
.focus-content-input {
  .v-input__append-inner {
    display: none !important;
  }
}
.payment-card-hint {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
}
.other-answer-area {
  max-width: 445px;
  .v-input__control {
    .v-input__slot {
      padding-left: 0px !important;
      .v-text-field__slot {
        .v-label--active {
          top: 50% !important;
        }
        .error--text {
          color: #ff5252 !important;
        }
      }
    }
    .v-text-field__details {
      padding-left: 16px !important;
    }
  }
}