.profile {
  padding: 28px 35px;
  box-sizing: border-box;
  font-size: 13px;

  &-title {
    font-size: 24px;
    font-family: "Open Sans Bold";
    margin-bottom: 50px;

    img {
      height: 25px;
      width: 25px;
      margin-left: 10px;
    }
  }

  &-tooltip {
    background-color: #f7f9fb;
    color: #000;
  }

  &-edit {
    color: $main-color-2;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &-icons {
    display: flex;

    &-complete,
    &-dismiss {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
      cursor: pointer;
    }
    
    &-complete {
      background-color: #3b6ec9;
      margin-right: 21px;
      &::before {
        display: block;
        content: "";
        width: 1px;
        height: 8px;
        background-color: #fff;
        transform: rotate(-45deg);
        position: absolute;
        top: 12px;
        left: 7px;
      }
      
      &::after {
        display: block;
        content: "";
        width: 1px;
        height: 12px;
        background-color: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 8px;
        left: 14px;
      }
    }

    &-dismiss {
      border: 1px solid #abafbd;
      
      &::before {
        display: block;
        content: "";
        height: 9px;
        width: 1px;
        position: absolute;
        top: 7.5px;
        left: 11px;
        transform: rotate(45deg);
        background-color: #abafbd;
      }
      
      &::after {
        display: block;
        content: "";
        height: 9px;
        width: 1px;
        position: absolute;
        top: 7.5px;
        left: 11px;
        transform: rotate(-45deg);
        background-color: #abafbd;
      }
    }
  }

  &-line {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 25px;
    }

    .v-input__slot::before {
      border-color: rgb(31, 131, 200) !important;
    }

    .v-input__slot::after {
      display: none;
    }
  }

  &-not-confirmed-email {
    color: red !important;
    font-size: 12px !important;
  }
}