.section-content {
  padding: 24px 32px 32px;
  min-width: 900px;
  margin-top: 24px;
  background-color: #fff;

  @media all and (max-width: $sm-breakpoint) {
    min-width: auto;
    padding: 20px
  }

  @media all and (max-width: $xs-breakpoint) {padding: 16px}
}

.light-text,
.rewards-currency {color: #A1A6B6}

.promo-codes {

  .promo-code {
    color: $sidebar-blue-color;
    margin-right: 20px;
    font-weight: bold;

    &__wrapper {
      display: flex;
      align-items: center;

      .v-input {
        max-width: 500px;
        margin-right: 12px;
      }

      .v-btn {height: 52px !important;}
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    .v-tooltip {
      margin-left: 12px;

      i {font-size: 16px;}

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__img-partner,
  &__img-user {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    flex: none;
    margin-right: 16px;
  }

  &__img-partner {background: $main--bg-color url("../img/promocodes/partner.svg") center center}
  &__img-user {background: $main--bg-color url("../img/promocodes/user.svg") center center}

  ul {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    padding: 0 0 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid $sidebar-hr-color;

    li {
      list-style: none;
      position: relative;
      padding-left: 12px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
        width: 4px;
        height: 4px;
        background-color: $main-color-1;
        border-radius: 50%;
      }

      + li {margin-top: 8px}
    }
  }

  .v-input--radio-group__input {
    flex-direction: row;
    align-items: center;

    .v-radio {margin-bottom: 0 !important;}
  }

  .share-box {
    padding-bottom: 32px;
    margin-bottom: 20px;
    border-bottom: 1px solid $sidebar-hr-color;

    &__links {
      margin-top: 20px;
      display: flex;

      a {
        font-size: 52px;
        color: #CACED5;
        transition: color 0.15s ease;
        line-height: 1;

        + a {margin-left: 12px}

        &:hover {
          color: $main-color-1;
        }
      }
    }
  }

  &__statistics {
    font-size: 14px;

    .v-expansion-panel__header {
      padding: 0;
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
      min-height: auto;

      > div:first-child {
        flex: none;
        font-weight: normal;
        max-width: calc(100% - 24px);
      }

      .v-expansion-panel__header__icon {
        background: url("../img/common/icon-dropdown.svg") no-repeat center;
        width: 10px;
        height: 10px;
        margin-left: 16px;
        transform: rotate(180deg);
        transition: transform 0.2s ease;
        flex: none;

        i {display: none}
      }
    }

    .v-card {
        background: inherit;
    }
    .v-expansion-panel__container--active .v-expansion-panel__header__icon {transform: rotate(0deg)}
  }

  @media all and (max-width: $xs-breakpoint) {
    .promo-code {
      margin-top: 12px;
    }

    .promo-code__wrapper {
      flex-direction: column;
      align-items: flex-start;

      .v-input {
        width: 100%;
        margin-right: 0 ;
      }

      .v-btn {
        margin: 12px 0 0 !important;
      }
    }

    .share-box {
      &__links a {
        font-size: 40px;
      }
    }
  }

  @media all and (max-width: $sm-breakpoint) {
    .share-box {
      &__links a {
        font-size: 40px;
      }
    }
  }
}

.rewards {
  border-top: 1px solid $sidebar-hr-color;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 14px;
  color: $main--font-color;

  .v-expansion-panel__body .v-card {
    margin-top: 16px;

    > div {
      margin: 0 0 8px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 320px;

      > span:first-child {width: auto}
    }
  }
}

.statistics {
  margin-top: 16px;
  color: $main--font-color;

  div {
    margin: 0 0 8px 0;

    > span {
      &:first-child {
        display: inline-block;
        width: 228px;
        margin-right: 24px;
      }

      &:last-child {white-space: nowrap}
    }
  }

  @media all and (max-width: $xs-breakpoint) {
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 0;

      > span:first-child {
        width: 194px;
        margin-right: 16px;
      }
    }
  }
}

.achievements {
  padding-bottom: 32px;
  margin-bottom: 24px;
  border-bottom: 1px solid $sidebar-hr-color;

  &__items {
    display: flex;
    margin-top: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #F7F9FB;
    font-size: 24px;
    color: $main-color-1;
    margin-right: 12px;

    &.icon-achievement-lock {color: #96A5BE}
  }

  @media all and (max-width: $sm-breakpoint) {
    &__item {
      height: 40px;
      width: 40px;
      font-size: 20px;
    }
  }
}

.enterPromoCode-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 520px;
  min-height: 280px;
  height: 80vh;
  padding: 24px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 24px;
  }

  &__content {
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .v-input {width: 100%}
  }

  .v-card__actions {
    padding: 0;
    margin-top: 24px;
  }
}