.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .currency-card {
    max-width: 400px;
    min-width: 200px;
    margin: 10px;

    .currency-code {
      font-size: 54px;
      color: lightgray;
      float: left;
      padding: 0 10px 5px 10px;
      display: inline;
    }

    .currency-value {
      display: inline;
      position: relative;
      top: 32px;
      right: 15px;
    }
  }
}
