.currency {
  &-card {
    background: #F7F9FB !important;
    background-color: #F7F9FB !important;
    border-radius: 4px;
    padding: 17px 12px;
    text-align: center;
  }
}
.quotes-table {
  thead {
    tr {
      th {
        &:first-child {
          padding-left: 31px !important;
        }
        &:not([aria-sort=ascending]) {
          .v-icon {
            margin-left: -16px;
          }
        }
        &:not(.active) {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: #4F5D75;
          opacity: 0.48;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:first-child {
          padding-left: 31px !important;
        }
      }
    }
  }
  .accent--text {
    color: #A1A6B6 !important;
    caret-color: #A1A6B6 !important;
  }
  .v-datatable {
    .v-datatable__actions {
      .v-datatable__actions__select {
        margin-right: 0px !important;
        .v-input {
          margin: 0px 0px 0px 18px !important;
          .v-input__append-inner {
            margin: 0px !important;
            padding: 0px !important;
          }
        }
      }
      .v-datatable__actions__range-controls {
        margin-right: 10px;
        .v-datatable__actions__pagination {
          margin-left: 12px !important;
          margin-right: 0px !important;
        }
        .v-btn {
          margin: 0px !important;
          &:not(.v-btn--disabled) {
            color: #3B6EC9 !important;
          }
        }
      }
    }
  }
}
.additional-pagination-quotes-table {
  margin-top: -60px;
}
.up-pagination {
  ul {
    li {
      display: none;
      button {
        &:not(.v-pagination__navigation--disabled) {
          i {
            color: #3B6EC9 !important;
          }
        }
      }
      &:first-child {
        display: flex;
        button {
          box-shadow: none;
          border-radius: none;
          margin: 0px;
          outline: none;
        }
      }
      &:last-child {
        display: flex !important;
        button {
          box-shadow: none;
          border-radius: none;
          margin: 0px;
          outline: none;
        }
      }
    }
  }
  .pagination-info {
    font-size: 12px;
    line-height: 16px;
    color: #A1A6B6;
  }
}
.search-place-wrap {
  max-width: 337px;
  width: 100%;
}
.quotes-filter-wrap {
  height: 82px;
}
.filters-quotes-table {
  background-color: #fff;
  .v-card {
    box-shadow: none;
  }
}
.quotes-table-active-filter {
  position: absolute;
  top: 77px;
  left: 145px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ff3e70;
  border: 2px solid #fff;
  z-index: 7;
}