.rebalancing {

  .v-card {
    padding: 22px 0 32px;
    box-shadow: none;
  }

  .section-padding {padding: 0 28px 0 32px}

  .sumField {
    width: 538px;
    max-width: 538px !important;
  }

  .btn {height: 52px !important}

  .v-input--radio-group--column {

    .v-input--radio-group__input {flex-direction: row}

    .v-radio:not(:last-child):not(:only-child) {margin-bottom: 0}
  }

  .rebalancingTbl {
    margin-top: -48px;

    .v-text-field .v-input__slot {
      height: 24px;
      font-size: 12px;

      input {
        height: 24px;
        padding: 4px 8px !important;
      }
    }

    tfoot td {
      vertical-align: top;
      padding-top: 16px !important;
      font-size: 13px;
      line-height: 2;
    }

    .totalInfo {
      display: inline-block;

      > div {
        display: flex;
        justify-content: space-between;

        > div:last-child {
          margin-left: 32px;
        }
      }
      .currency {opacity: 0.5}
    }
  }

  @media all and (max-width: 800px){

    .v-card {
      padding: 12px 0 24px;

      &__title {font-size: 14px}
    }

    .section-padding {padding: 0 12px 0}

    .sumField {
      width: 200px;
      max-width: 200px !important;
    }

    .currencyField .v-text-field__slot {

      label {left:8px !important;}

      input {padding: 4px 8px !important;}
    }

    .v-input--radio-group--column {

      .v-input--radio-group__input {flex-direction: column}

      .v-radio:not(:last-child):not(:only-child) {margin-bottom: 8px}
    }

    .rebalancingTbl {margin-top: 0}

  }
}
