.tariff {
  max-width: 1066px;
  margin: 0 auto;
  padding-bottom: 32px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 30px 0;
  }

  &__info {
    padding: 0 30px;
    color: #495867;
    line-height: normal;

    p {
      margin: 8px 0;
    }

    .promo_input {
      margin-right: 20px;
      margin-top: 10px;
      font-size: 16px;
      color: #495867;
    }
  }

  &__plans {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    margin-top: 40px;

    tr {
      &:nth-child(2) td {vertical-align: top}

      &:nth-child(3) td span {
        display: inline-block;
        text-align: left;
      }
    }

    td {
      border: 1px solid #E8E9ED;
      padding: 8px 28px;
      text-align: center;

      &:first-child {
        width: 288px;
        text-align: left;
      }

      &:nth-child(n + 2) {
        width: calc((100% - 288px) / 3);
      }

      &.no-borders {border: none}

      &.fs13 {font-size: 13px}
    }

    &_check {
      display: inline-block;
      background: url("../img/common/icon-check-mark.svg") no-repeat center;
      background-size: contain;
      width: 14px;
      height: 14px;
    }
  }

  &__plan {
    &_name {
      font-size: $font-size;
      font-weight: bold;
      margin: 8px 0 16px;
    }

    &_price {
      margin-bottom: 24px;
      font-size: $font-size;
    }

    &_old-price {
      font-size: 14px;
      color: #859aaf;
      text-decoration: line-through;
      margin-top: 0;
      margin-bottom: 2px;
    }

    &_btn {
      display: inline-block;
      width: 124px;
      padding: 10px 20px;
      border-radius: $form-element--border-radius;
      text-align: center;
      font-size: 14px;
      color: #3D4656;
      line-height: 19px;
      transition: 0.25s all;
      -webkit-transition: 0.25s all;
      border: 1px solid #CACED5;

      &:hover {background-color: #e8e9ed}

      &.selected {
        background-color: $sidebar-blue-color;
        border-color: $sidebar-blue-color;
        color: #fff;
      }
    }

    &_expires {
      font-size: 12px;
      color: #A1A6B6;
      margin-top: 8px;
    }
  }

  .promotion {
    font-size: 16px;
    color: #F878A8;
    max-width: 800px;
    margin: 0 auto 25px auto;
    line-height: normal;
  }

  .promo-code-component {
    display: flex;
    align-items: center;
    color: $sidebar-blue-color;

    &__icon {
      width: 16px;
      height: 16px;
      background: url("../img/common/arrow-right.svg") no-repeat center;
      background-size: contain;
      margin-left: 8px;
    }
  }

  .sale{
    vertical-align: middle;
    width: 370px;
    margin: 35px auto 0 auto;
    background: #F6F9FC;
    border-radius: 33px;
    font-weight: normal;
    font-size: 14px;
    color: #495867;
    letter-spacing: 0;
    padding: 10px;
    text-align: center;

    span{
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }

    @media (max-width: 520px){
      width: 100%;
      max-width: 320px;
      font-size: 12px;

      span{
        font-size: 14px;
      }
    }
  }
}
