.tariff{
  padding: 30px;
  max-width: 940px;
  margin: 0 auto;

  .title {
    font-size: 30px;
    color: #3B6EC9;
    text-align: center;
    margin-bottom: 8px;
    font-family: Gilroy, Roboto, serif;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;

    @media (max-width: 900px){
      margin-bottom: 40px;
    }
  }

  .subtitle {
    font-family: OpenSans;
    font-size: 16px;
    color: #495867;
    max-width: 800px;
    margin: 0 auto 25px auto;
    line-height: normal;

    p {
      margin: 3px 0;
    }

    .promo_input {
      margin-right: 20px;
      margin-top: 10px;
      font-family: OpenSans;
      font-size: 16px;
      color: #495867;
    }
  }

  .promotion {
    font-family: OpenSans;
    font-size: 16px;
    color: #F878A8;
    max-width: 800px;
    margin: 0 auto 25px auto;
    line-height: normal;
  }

  .tab{
    &-ctrl{
      margin: 0 auto 40px auto;
      display: flex;
      justify-content: center;

      @media (max-width: 520px){
        display: block;
      }
    }

    &-btn{
      outline: none;
      color: #3B6EC9;
      padding: 0 28px;
      border-radius: 33px;
      font-size: 14px;
      height: 46px;
      margin: 0 5px;
      background-color: white;
      border: 2px solid transparent;
      transition: 0.25s all;
      -webkit-transition: 0.25s all;

      @media (max-width: 520px){
        display: block;
        margin: 5px auto;
      }


      &:hover{
        border: 2px solid #3B6EC9;
      }

      &.active{
        background: #3B6EC9;
        color: #FFFFFF;

      }
    }

    &-items{
      display: none;

      &.active{
        display: flex;
        justify-content: space-between;

        @media (max-width: 520px){
          display: block;
        }
      }
    }

    &-item{
      width: 33%;
      position: relative;
      z-index: 1;
      text-align: center;
      padding: 0 15px;

      @media (max-width: 880px){
        width: 50%;
        margin-bottom: 25px;
      }

      @media (max-width: 520px){
        width: 100%;
      }

      &.selected {
        background: #edf3f9;
      }

      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 320px;
        width: 1px;
        background-color: #E7EEFC;
        z-index: 1;
      }

      &:nth-of-type(1){
        &:before{
          display: none;
        }
      }

      @media (max-width: 880px){
        &:nth-of-type(2n + 1){
          &:before{
            display: none;
          }
        }
      }

      @media (max-width: 520px){
        &:before{
          display: none;
        }
      }

      &__icon{
        width: 100%;
        height: 60px;
        z-index: 1;
        display: block;
        margin: 0 auto 6px auto;

        span {
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }

        img{
          z-index: 1;
          vertical-align: middle;
        }
      }

      &__heading{
        font-weight: 700;
        font-size: 26px;
        color: #495867;
        letter-spacing: 0;
        font-family: Gilroy;
        margin: 0;
      }

      &__expires {
        color: #F878A8;
        margin-bottom: 0;
      }

      &__list{
        margin: 25px auto 10px auto;
        height: 230px;
        list-style-type: none;
        padding: 0;

        @media (max-width: 520px){
          height: auto;
        }

        li{
          font-weight: 400;
          font-size: 14px;
          color: #495867;

          &:before{
            content: '+';
            text-align: center;
            display: block;
          }

          &:nth-of-type(1){
            font-weight: 600;

            &:before{
              display: none;
            }
          }

          &:nth-of-type(2){
            margin-top: 20px;

            &:before{
              display: none;
            }
          }
        }
      }

      &__price{
        font-size: 16px;
        color: #495867;
        margin-top: 2px;
      }

      &__old_price {
        font-size: 14px;
        color: #859aaf;
        text-decoration: line-through;
        margin-top: 0;
        margin-bottom: 2px;
      }

      &__link{
        display: block;
        width: 100%;
        max-width: 190px;
        margin: 44px auto 10px auto;
        padding: 9px 20px;
        border: 2px solid #5D8FDB;
        border-radius: 8px;
        text-align: center;
        font-size: 14px;
        color: #3B6EC9;
        line-height: 19px;
        transition: 0.25s all;
        -webkit-transition: 0.25s all;
        box-sizing: border-box;

        &:hover{
          color: white;
          background-color: #5D8FDB;
        }
      }

      &__by-now{
        font-size: 13px;
        color: #495867;
        letter-spacing: 0;
        line-height: 24px;

        a{
          color: #3B6EC9;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sale{
    vertical-align: middle;
    width: 370px;
    margin: 35px auto 0 auto;
    background: #F6F9FC;
    border-radius: 33px;
    font-weight: 400;
    font-size: 14px;
    color: #495867;
    letter-spacing: 0;
    padding: 10px;
    text-align: center;

    span{
      font-family: Gilroy;
      font-size: 20px;
      font-weight: 700;
      vertical-align: middle;
    }

    @media (max-width: 520px){
      width: 100%;
      max-width: 320px;
      font-size: 12px;

      span{
        font-size: 14px;
      }
    }
  }
}