.tariff {
  max-width: 1510px;
  margin: 0 auto;
  color: $main--font-color;

  &-agreement {
    width: 215px;
    margin: auto;

    a,
    .v-input--checkbox label {font-size: 13px;}

    &__notification {
      margin: 12px -8px 0;
      min-height: 34px;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 32px 0;

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.3px;
    }

    .v-input {
      font-size: 14px;

      .v-input--radio-group__input {align-items: center}
    }
  }

  &__info {
    padding: 0 30px;
    color: #495867;
    line-height: normal;
    font-size: 14px;

    p {
      margin: 8px 0;
    }

    .promo_input {
      margin-right: 20px;
      margin-top: 10px;
      font-size: 16px;
      color: #495867;
    }
  }

  &__plans {
    min-width: 800px;

    .v-btn {
      margin-bottom: 20px !important;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
      margin-top: 40px;

      tr {
        &:nth-child(2) td {vertical-align: top}

        &:nth-child(3) td span {
          display: inline-block;
          text-align: left;
        }

        &:last-child td {
          border-bottom: none;
          padding-bottom: 16px;
        }

        &.no-borders td {
          border: none;
        }
      }

      td {
        border: 1px solid #E8E9ED;
        padding: 8px 28px;
        text-align: center;

        &:first-child {
          width: 288px;
          text-align: left;
          border-left: none;
        }

        &:last-child {border-right: none}

        &:nth-child(n + 2) {
          width: calc((100% - 288px) / 3);
        }

        &.no-borders {border: none}

        &.fs13 {font-size: 13px}
      }
    }


    &_check {
      display: inline-block;
      background: url("../img/common/icon-check-mark.svg") no-repeat center;
      background-size: contain;
      width: 14px;
      height: 14px;
    }
  }

  &__plan {
    &_name {
      font-size: $font-size;
      font-weight: bold;
      margin: 8px 0 16px;
    }

    &_old-price {
      font-size: 14px;
      color: #859aaf;
      text-decoration: line-through;
      margin-top: 0;
      margin-bottom: 2px;
    }

    &_year-price {
      font-size: 14px;
      color: #859aaf;
      margin-top: 0;
      margin-bottom: 2px;
      text-align: center;
    }

    &_expires {
      font-size: 12px;
      color: #A1A6B6;
      margin-top: 8px;
      min-height: 18px;
    }
  }

  .promotion {
    font-size: 16px;
    color: #F878A8;
    max-width: 800px;
    margin: 0 auto 0 auto;
    line-height: normal;
  }

  .promo-code-component {
    display: flex;
    align-items: center;
    color: $sidebar-blue-color;
    cursor: pointer;
    font-size: 14px;

    .v-tooltip > span {
      display: flex;
      align-items: center;
    }

    &__icon {
      width: 16px;
      height: 16px;
      margin-left: 10px;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 2px;
        background-color: $sidebar-blue-color;
      }

      &:before {
        height: 6px;
        transform: rotate(-45deg);
        top: 7px;
        left: 0;
      }

      &:after {
        height: 8px;
        transform: rotate(45deg);
        top: 4px;
        left: 5px;
      }
    }
  }

  .sale {
    vertical-align: middle;
    width: 370px;
    margin: 35px auto 0 auto;
    background: #F6F9FC;
    border-radius: 33px;
    font-weight: normal;
    font-size: 14px;
    color: #495867;
    letter-spacing: 0;
    padding: 10px;
    text-align: center;

    span{
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  @media (max-width: $xs-breakpoint){

    &__header {
      display: block;
      padding: 24px 16px 16px;
    }

    .sale {
      width: 100%;
      max-width: 320px;
      font-size: 12px;

      span {font-size: 14px}
    }

    &-agreement__notification,
    &__plan_expires {
      min-height: auto;
    }
  }
}

.tariff-item {
  max-width: 300px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px #EBEEF3;
  border-radius: 8px;
  margin: 70px 0 0;
  padding: 16px 0 0;

  &.pro-tariff {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 2px $sidebar-blue-color;

    .tariff-description-wrap div:last-child {border-radius: 0 0 8px 8px}
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 44px;
  }

  &__description {
    font-size: 12px;
    line-height: 2;
    color: #ADB1BF;
    padding-bottom: 12px;
    border-bottom: 1px solid #E8E9ED;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }

  &__price {
    font-family: "Gilroy Semibold", sans-serif;
    margin-top: 24px;
    font-size: 44px;
    line-height: 38px;

    &.free-tariff {color: #A1A6B6}

    span {
      font-family: "Gilroy Regular", sans-serif;
      font-size: 16px;
      color: #A1A6B6;
    }
  }

  .v-tooltip > span {display: block}

  @media (max-width: $xs-breakpoint){
    margin-top: 52px;

    &:nth-child(2) {margin-top: 20px}
    &:last-child {margin-top: 60px}

    .tariff-description-wrap div:last-child {border-radius: 0 0 8px 8px}
  }
}

.tariff-description-wrap {
  margin: 20px -24px 0;
  border-top: 1px solid #E5EAF2;

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 32px 0 16px;
    line-height: 21px;
    font-size: 13px;
    background: url("../img/tariffs/icon-check.svg") no-repeat center right 16px;
    background-size: 12px;
    min-height: 48px;

    &:nth-child(even) {background-color: #F6F9FC}

    .v-tooltip span {
      display: inline;

      .custom-tooltip {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.tariff-most-popular {
  margin: -52px 0 20px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 0 2px $sidebar-blue-color;
  padding: 8px 0;
  color: #fff;
  background: $sidebar-blue-color;
}

.link-license-agreement {color: $sidebar-blue-color}

.free-tariff-delete {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
}
.toggle-block-basic-functionality {
  .v-expansion-panel__header {
    border-bottom: none;
    padding: 0px;
    div {
      border-bottom: 0px;
      font-family: "Open Sans" !important;
    }
    .v-expansion-panel__header__icon {
      background: url("../img/common/icon-dropdown.svg") no-repeat center;
      width: 10px;
      height: 10px;
      transform: rotate(180deg);
      transition: transform 0.2s ease;

      i {display: none}
    }
  }
  .v-expansion-panel__container--active .v-expansion-panel__header__icon {transform: rotate(0deg)}
  .exp-panel-arrow {
    margin-right: 0px;
  }
}
.functional-list {
  div {
    border-bottom: 1px solid #e8e9ed;
    background: #f7f9fb;
  }
}

.free-subscribe {
  @extend %info-panel;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 44px;
  padding: 12px 24px;
  margin: 32px;

  a {
    background: #EBEFF7;
    border-radius: 4px;
    padding: 8px 20px;
    line-height: 20px;
    color: #3D4656;
    transition: background-color 0.2s ease;

    &:hover {background: darken(#EBEFF7, 5%)}
  }

  @media (max-width: 520px) {
    flex-direction: column;
    line-height: 1.4;
    margin: 32px 16px;

    span {margin-bottom: 8px}
  }
}

.payment-system {
  margin: 0 32px 36px;

  &__text {
    margin-bottom: 24px;
    color: $font-color--lite;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {margin: 0 30px 12px 0}
  }

  @media only screen and (max-width: $xs-breakpoint) {
    margin: 0 8px 24px;
  }
}

.wrap-tariffs-sentence {
  display: flex;
  justify-content: space-around;
  margin: 0 32px;

  @media only screen and (max-width: $xs-breakpoint) {
    margin: 0 20px;
  }
}